﻿@model Transportation_Company.ViewModels.NewModelViewModel
@{
    ViewBag.Title = "Edit model";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit model</h2>
@using (Html.BeginForm("Save", "ModelMakes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ModelMake.Name)
        @Html.TextBoxFor(m => m.ModelMake.Name, new { @class = "form-control", style = "text-transform: uppercase;" })
        @Html.ValidationMessageFor(m => m.ModelMake.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ModelMake.MakeId)
        @Html.DropDownListFor(m => m.ModelMake.MakeId, new SelectList(Model.Makes, "Id", "Name"), "Select Make", new { @class = "form-control", id = "modelMake" })
        @Html.ValidationMessageFor(m => m.ModelMake.MakeId)
    </div>
    @Html.HiddenFor(m => m.ModelMake.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document).ready(function() {

            $("#modelMake").chosen({ disable_search_treshold: 3 });

        });
</script>
}