﻿@using Transportation_Company.Models
@using Transportation_Company.ViewModels
@model Transportation_Company.ViewModels.NewPartialModelViewModel

@*@model IEnumerable<Transportation_Company.Models.ModelMake>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>Models</h2>
        @if (!Model.ModelMakes.Any())
        {
            <p>We don't have any models specified yet.</p>
          @*  <div class="row" style="margin-bottom: 10px;">
                <p class="btn btn-success">@Html.ActionLink("New model", "NewModel", "ModelMakes", null, new { style = "color:white; text-decoration:none;" })</p>
            </div>*@
        }
        else
        {
          @*  <div class="row" style="margin-bottom: 10px;">
                <p class="btn btn-success">@Html.ActionLink("New model", "NewModel", "ModelMakes", null, new { style = "color:white; text-decoration:none;" })</p>
            </div>*@
            <table id="models" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Model</th>
                    <th>Make (Brand)</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var make in Model.ModelMakes)
                {
                    <tr>
                        <td>@Html.ActionLink(make.Name, "Details", "ModelMakes", new { id = make.Id }, null)</td>
                        <td>@make.Make.Name</td>
                        <td>
                            @Html.ActionLink(" ", "Edit", "ModelMakes", new { id = make.Id }, new { @class = "glyphicon glyphicon-edit text-primary" })
                            <button data-model-id="@make.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2 class="mt-3" style="margin-top: 50px;">Create new model</h2>

        @Html.Partial("_NewModelPartial", new NewModelViewModel
   {
       Makes= Model.Makes,
       ModelMake = new ModelMake()
   })

    </div>
</div>




@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var table = $("#models").DataTable();

            $("#modelMake").chosen({ disable_search_treshold: 3 });


            @if (TempData.ContainsKey("Success"))
           {
               @:toastr.success("New model added!");
               TempData.Remove("Success");
           }

            $("#models").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this Model?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/modelMakes/" + button.attr("data-model-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        toastr.error("Model deleted!");

                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
