﻿@model Transportation_Company.ViewModels.NewModelViewModel
@{
    ViewBag.Title = "New model";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New model</h2>
@using (Html.BeginForm("Create", "ModelMakes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ModelMake.Name)
        @Html.TextBoxFor(m => m.ModelMake.Name, new { @class = "form-control", style = "text-transform: uppercase;", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.ModelMake.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ModelMake.MakeId)
        @Html.DropDownListFor(m => m.ModelMake.MakeId, new SelectList(Model.Makes, "Id", "Name"), "Select Make", new { @class = "form-control", id = "modelMake" })
        @Html.ValidationMessageFor(m => m.ModelMake.MakeId)
    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            
            $("#modelMake").chosen({ disable_search_treshold: 3 });
          
        });
    </script>

}