body {
  background-color: #121628;
  background-image: url("stripes-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.error-page {
  margin-top: 120px;
  margin-bottom: 120px;
}

p {
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

a {
    text-decoration: none !important;
    color: #ffffff;
}

a:before {
    text-decoration: none !important;
    color: #ffffff;
}

a:after {
    text-decoration: none !important;
    color: #ffffff;
}

a:hover {
    text-decoration: none !important;
    color: #ffffff;
}

.form-button {
  background-color: #0C73DA;
  border: 0;
  border-radius: 30px;
  box-shadow: 0px 6px 48px rgba(12, 115, 218, 0.16);
  padding: 20px;
  color: #fff !important;
  padding: 15px 60px 15px 60px !important;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin: 4px 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .error-page img {
      height: 200px;
  }
}
