﻿@{
    ViewBag.Title = "About";
}

<header class="masthead box" id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-auto">
                <div class="masthead-content mx-auto">
                    <div class="masthead-text">
                        <h1 class="mb-2 masthead-heading text-center animated fadeInUp">Transportmate - from idea to implementation</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 box-card">
                <div class="box-part box-hover box-container-header text-center">
                    <img class="mb-4" src="icons/transportmate-icon.svg" height="40">
                    <div class="box-title">
                        <h5>Transportmate</h4>
                    </div>
                    <div class="box-text">
                        <p>Read more about our project</p>
                    </div>
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='#about-transportmate';">About project</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 box-card">
                <div class="box-part box-hover box-container-header text-center">
                    <img class="mb-4" src="icons/approach-icon.svg" height="40">
                    <div class="box-title">
                        <h5>Approach</h4>
                    </div>
                    <div class="box-text">
                        <p>Read more about approach</p>
                    </div>
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='#about-us';">About approach</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 box-card">
                <div class="box-part box-hover container-3 text-center">
                    <img class="mb-4" src="icons/team-icon.svg" height="40">
                    <div class="box-title">
                        <h5>Team</h4>
                    </div>
                    <div class="box-text">
                        <p>Read more about team members</p>
                    </div>
                    <button class="btn btn-outline-secondary" type="button" onclick="location.href='#about-team';">About team</button>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="about-transportmate" id="about-transportmate">
    <div class="container">
        <div class="section-heading text-center mb-5">
            <span class="section-title">Project idea</span>
            <h2 class="mt-5 mb-4">What is Transportmate?</h2>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-md-6 about-us-item">
                <p class="mt-3 about-us-text">Transportmate is the web-based application for the transportation industry. The main idea of the application is to develop an online solution for logistics companies of small and medium size, in order to make maintaining the company and its workflow easy to follow.</p>
                <div class="list">
                    <ul>
                        <li>The project bring the most important requirements in a single, centralized application</li>
                        <li>The data is persistent, stored in the database</li>
                        <li>Company's employees can easily manage all modules to keep and update records related to customers, orders and an interior fleet of drivers, trucks, and trailers</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 about-us-item text-center">
                <img src="icons/what-is-transportmate-6.svg" height="400">
            </div>
        </div>
</section>
<section class="about-us" id="about-us">
    <div class="section-heading-white text-center mb-5">
        <span class="section-title">Approach</span>
        <h2 class="mt-5 mb-4">From idea to implementation</h2>
        <p>Read more about approach</p>
    </div>
    <div class="container about-line">
        <div class="row">
            <div class="col-md-8">
                <h3 class="mt-5 mb-4">The process</h3>
                <div class="list">
                    <ul>
                        <li class="text-white">Product quality is the key, so we built our processes around quality-driven development and unit tests. Code review and QA testing are part and parcel of our standard operating procedure.</li>
                        <li class="text-white">We follow the agile methodology to stay flexible and meet your needs as they change and grow along with your project.</li>
                        <li class="text-white">We make sure our products run fast and are easily scalable. We also ensure that the deployment process runs smoothly with no server interruptions. At the same time, we avoid 'scaling too early' to save you time and money.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-lines" src="icons/approach-1.svg" alt="Quality icon" height="300">
            </div>
        </div>
    </div>
    <div class="container about-line">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-lines" src="icons/approach-2.svg" alt="Quality icon" height="300">
            </div>
            <div class="col-md-8">
                <h3 class="mt-5 mb-4">Quality</h3>
                <div class="list">
                    <ul>
                        <li class="text-white">Product quality is the key, so we built our processes around quality-driven development and unit tests. Code review and QA testing are part and parcel of our standard operating procedure.</li>
                        <li class="text-white">We follow the agile methodology to stay flexible and meet your needs as they change and grow along with your project.</li>
                        <li class="text-white">We make sure our products run fast and are easily scalable. We also ensure that the deployment process runs smoothly with no server interruptions. At the same time, we avoid 'scaling too early' to save you time and money.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-team box" id="about-team">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center mb-5">
                <span class="section-title">Team</span>
                <h2 class="mt-5 mb-4">Meet our team</h2>
                <p>Transportmate is the web-based application for the transportation industry. The main idea of the application is to develop an online solution for logistics companies of small and medium size, in order to make maintaining the company and its workflow easy to follow.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 col-sm-12 box-card">
                <div class="box-part box-hover box-container text-center">
                    <div class="avatar">
                        <img src="icons/krzysztof.jpg" height="150">
                    </div>
                    <div class="box-title">
                        <h5>Krzysztof Nowicki</h5>
                        <p>Project Leader</p>
                    </div>
                    <div class="box-text">
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. </p>
                        <p class="read-more-1">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <button id="show-more-1" class="btn btn-outline-secondary" type="button">About me</button>
                </div>
            </div>

            <div class="col-md-5 col-sm-12 box-card">
                <div class="box-part box-hover box-container text-center">
                    <div class="avatar">
                        <img src="icons/natalia.jpg" height="150">
                    </div>
                    <div class="box-title">
                        <h5>Natalia Sienkiewicz</h5>
                        <p>Web Designer</p>
                    </div>
                    <div class="box-text">
                        <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                        <p class="read-more-2">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
                    </div>
                    <button id="show-more-2" class="btn btn-outline-secondary" type="button">About me</button>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>


@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/AboutPage/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/AboutPage/swiper/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>
	$(document).ready(function(){
    $("#show-more-1").click(function(){
        $(".read-more-1").toggle("slow");
    });
	$("#show-more-2").click(function(){
        $(".read-more-2").toggle("slow");
    });
	});
    </script>
}