﻿@model Transportation_Company.Models.EmailFormModel
@{
    ViewBag.Title = "Contact";
}

<div class="body-container">

    <div class="container">
        <section class="section">
            <div class="header-text mx-auto text-center">
                <h6 class="mt-5">Contact us</h6>
                <h1 class="mb-5">Send us a message</h1>
            </div>
            <div class="row">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-8">
                    <div class="card mx-auto">
                        
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <form id="contact-form" name="contact-form" action="" method="post" class="mx-auto">
                                <div class="row">
                                    
                                    <div class="col-md-12 mx-auto">
                                        <div class="form-group text-center">
                                            @Html.LabelFor(m => m.FromName)
                                            @Html.TextBoxFor(m => m.FromName, new {@class = "form-control"})
                                            @Html.ValidationMessageFor(m => m.FromName)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mx-auto">
                                        <div class="form-group text-center">
                                            @Html.LabelFor(m => m.FromEmail)
                                            @Html.TextBoxFor(m => m.FromEmail, new {@class ="form-control inputs-for-contact"})
                                            @Html.ValidationMessageFor(m => m.FromEmail)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mx-auto">
                                        <div class="form-group text-center">
                                            @Html.LabelFor(m => m.Subject)
                                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Subject)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mx-auto">
                                        <div class="form-group text-center">
                                            @Html.LabelFor(m => m.Message)
                                            @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Message)
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-5">
                                    <input type="submit" class="btn btn-primary form-button" value="Send"/>
                                   @* <button type="submit" class="btn btn-primary form-button">Send</button>*@
                                </div>
                            </form>
                        }
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </section>
    </div>

</div>




<address>
   Koszykowa 86<br />
   00-008 Warsaw, Poland<br />
</address>

<address>
    <strong>Krzysztof Nowicki:</strong>   <a href="mailto:s12824@pjwstk.edu.pl">s12824@pjwstk.edu.pl</a><br />
    <strong>Natalia Sienkiewicz:</strong> <a href="mailto:s12575@pjwstk.edu.pl">s12575@pjwstk.edu.pl</a>
</address>

@section scripts{
    <link href="/Content/ContactPage/main.css" rel="stylesheet" type="text/css"/>

}