﻿@model Transportation_Company.Models.Order
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    
</div>*@


@*
Homepage od Natalii
*@

<header class="masthead" id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-auto">
                <div class="masthead-content mx-auto">
                    <div class="masthead-text">
                        <h1 class="mb-4 masthead-heading text-center">Track your package using your unique package number</h1>
                        <p class="masthead-subheading text-center">Your happiness is our top priority.</p>
                    </div>
                    @**@
                    
                    @using (Html.BeginForm("Search", "Home"))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBox("trackingNumber", string.Empty, new {@class = "form-control", placeholder = "Search your package", @style = "width: 100%;"})
                                <span class="input-group-btn">
                                    <input type="submit" class="btn input-button-search" value="Search"/>
                                </span>
                            </div>
                       </div>
                     }

                   @* <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search your package" aria-label="Search your package" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search fa-fw" aria-hidden="true"></i>Search</button>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</header>
<section class="how-it-work" id="how-it-work">
    <div class="container">
        <div class="row">
            <div class="swiper-container s2">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row white-box">
                            <div class="col-lg-7 col-sm-12 col-sm-push-12">
                                <div class="text-left">
                                    <span class="section-title">Functions</span>
                                    <h2 class="card-title mt-5 mb-4">Manage your transportation company</h2>
                                    <p class="card-text">
                                        TransportMate is a web based solutions for Transportation 
                                        Companies in US. We developed a solution that allows small 
                                        teams to maintain and cooperate within their companies. Our 
                                        application is expandable to satisfy needs of everyone.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-sm-pull-12 align-self-center">
                                <img class="card-img-right" src="/Content/HomePage/icons/manage-icon.svg" alt="Manage icon">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row white-box">
                            <div class="col-lg-7 col-sm-12 col-sm-push-12">
                                <div class="text-left">
                                    <span class="section-title">Functions</span>
                                    <h2 class="card-title mt-5 mb-4">Maintain your fleet and employees</h2>
                                    <p class="card-text">
                                        The application allows employees to create data related 
                                        to what they do. Dealing with new customer? Special order?
                                        New types of shippment? We've got you covered. Using our 
                                        solutions you can easily keep your business running.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-sm-pull-12 align-self-center">
                                <img class="card-img-right" src="/Content/HomePage/icons/maintain-icon.svg" alt="Maintain icon">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row white-box">
                            <div class="col-lg-7 col-sm-12 col-sm-push-12">
                                <div class="text-left">
                                    <span class="section-title">Functions</span>
                                    <h2 class="card-title mt-5 mb-4">Store and keep important data</h2>
                                    <p class="card-text">
                                        Persistent data is a key to success. TransportMate runs online 
                                        and keeps all data stored in secure database. Every part of 
                                        the application is prepared for different user roles and 
                                        different combinations of transportation business model. 
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-sm-pull-12 align-self-center">
                                <img class="card-img-right" src="/Content/HomePage/icons/store-icon.svg" alt="Store icon">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row white-box">
                            <div class="col-lg-7 col-sm-12 col-sm-push-12">
                                <div class="text-left">
                                    <span class="section-title">Functions</span>
                                    <h2 class="card-title mt-5 mb-4">Let your business be online for 24/7</h2>
                                    <p class="card-text">
                                        We know, there are already solution to help your 
                                        transportation company survive. But, you know? None 
                                        of those solutions are avaialable online. We chagned 
                                        that. From now, you can work from home or Honolulu.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12 col-sm-pull-12 align-self-center">
                                <img class="card-img-right" src="/Content/HomePage/icons/online-icon.svg" alt="Online icon">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section class="about-us" id="about-us">
    <div class="container">
        <div class="section-heading text-left mb-5">
            <span class="section-title"  style="margin-bottom: 20px;">About TransportMate</span>
            <h2 class="mt-5 mb-4" style="margin-bottom: 20px; margin-top: 30px;">
                TransportMate was created.</h2>
                    <p> </p>
        </div>
        <div class="row mt-5 pt-5">
            <div class="col-lg-4 col-12 about-us-item">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-1 col-2"><img class="img-circle" src="/Content/HomePage/icons/monitor.svg" alt="Ikona monitora" height="60"></div>
                    <div class="col-lg-10 col-md-11 col-sm-11 col-10 align-self-center about-us-title"><h6 class="ml-4">Top quality</h6></div>
                </div>
                <p class="mt-4 about-us-text">Our highly experienced developers prepared the app with security in mind. Our solutions are fast, reliable and secure. We prevent all of the components from inside or outside malware attacks.</p>
            </div>
            <div class="col-lg-4 col-12 about-us-item">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-1 col-2"><img class="img-circle" src="/Content/HomePage/icons/diamond.svg" alt="Ikona diament" height="60"></div>
                    <div class="col-lg-10 col-md-11 col-sm-11 col-10 align-self-center about-us-title"><h6 class="ml-4">User is always at the first place</h6></div>
                </div>
                <p class="mt-4 about-us-text">We care much about our end users. We preapred all views with them in mind. There is no need to worry about incosistent data or accidental entries.</p>
            </div>
            <div class="col-lg-4 col-12 about-us-item">
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm-1 col-2"><img class="img-circle" src="/Content/HomePage/icons/paper.svg" alt="Ikona gazeta" height="60"></div>
                    <div class="col-lg-10 col-md-11 col-sm-11 col-10 align-self-center about-us-title"><h6 class="ml-4">Support and development</h6></div>
                </div>
                <p class="mt-4 about-us-text">The application is standalone solution, which we will expand and develop in the future. More features to make your transportation life easier are comming soon!</p>
            </div>
        </div>
    </div>
</section>






@*
Stary HomePage
*@
@*<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Search", "Home"))
        {
            <div class="form-group">
                <p>Tracking number: @Html.TextBox("trackingNumber", string.Empty, new { @class = "form-control" })</p> 
            </div>
          
            <input type="submit" class="btn btn-success" value="Search"/>
        }
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="dash-box dash-box-color-1">
            <div class="dash-box-icon">
                <i class="glyphicon glyphicon-cloud"></i>
            </div>
            <div class="dash-box-body">
                <span class="dash-box-count">1000</span>
                <span class="dash-box-title">Clients</span>
            </div>
				
            <div class="dash-box-action">
                <button>More Info</button>
            </div>				
        </div>
    </div>
    <div class="col-md-4">
        <div class="dash-box dash-box-color-2">
            <div class="dash-box-icon">
                <i class="glyphicon glyphicon-download"></i>
            </div>
            <div class="dash-box-body">
                <span class="dash-box-count">100</span>
                <span class="dash-box-title">Vehicle fleet</span>
            </div>
				
            <div class="dash-box-action">
                <button>More Info</button>
            </div>				
        </div>
    </div>
    <div class="col-md-4">
        <div class="dash-box dash-box-color-3">
            <div class="dash-box-icon">
                <i class="glyphicon glyphicon-heart"></i>
            </div>
            <div class="dash-box-body">
                <span class="dash-box-count">50</span>
                <span class="dash-box-title">States</span>
            </div>
				
            <div class="dash-box-action">
                <button>More Info</button>
            </div>				
        </div>
    </div>
</div>*@


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homestyle.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homepagestylesheet.css"/>

    
    
    
    <script>
        var swiper1 = new Swiper('.s2', {
            slidesPerView: 1,
            spaceBetween: 40,
            loop: true,
            grabCursor: true,
            autoplay: {
                delay: 6000,
            },
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true,
            },
        });

    </script>
}
