﻿@model IEnumerable<Transportation_Company.Models.Order>
@{
    ViewBag.Title = "Search result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div>
    <div class="container">
        <h3 class="animated fadeIn ">Result for Tracking #@Request["trackingNumber"]</h3>
    </div>
</div>

<main class="container">
    @if (!Model.Any())
    {
        <p>We don't have any orders like that yet.</p>
        <p>You may have entered wrong format of an order.</p>
    }
    else
    {



        <table id="orders" class="table table-bordered table-hover animated fadeIn ">
            <thead>
                <tr class="active">
                    <th>Order #</th>
                    <th>Tracking #</th>
                    <th>Pick up location</th>
                    <th>Delivery location</th>
                    <th>Pick up date</th>
                    <th>Delivery date</th>
                    <th>Order status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr class="info">
                        <td>
                            @order.Id
                        </td>
                        <td>
                            @order.TrackingNumber
                        </td>
                        <td>
                            @order.PickUpLocation
                        </td>
                        <td>
                            @order.DeliveryLocation
                        </td>
                        <td>
                            @order.PickUpDate
                        </td>
                        <td>
                            @order.DeliveryDate
                        </td>
                        <td id="status">
                            @order.OrderStatus.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</main>
<div class="row animated fadeInUp ">

<div class="col-md-4 mb-5">
    <div id="accepted" class="card inactive">
        <p>Accepted</p>
        <div class="status-icon">
            <img src="/Content/SearchResult/Icons/accepted.svg" alt="Accepted status icon">
        </div>
    </div>
</div>

<div class="col-md-4 mb-5">
    <div id="pickedup" class="card inactive">
        <p>Picked up</p>
        <div class="status-icon">
            <img src="/Content/SearchResult/Icons/picked-up.svg" alt="Picked up status icon">
        </div>
    </div>
</div>

<div class="col-md-4 mb-5">
    <div id="delivered" class="card inactive">
        <p>Delivered</p>
        <div class="status-icon">
            <img src="/Content/SearchResult/Icons/delivered.svg" alt="Delivered status icon">
        </div>
    </div>
</div>
</div>

@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/Content/SearchResult/style.css">

    <script>

        $(document).ready(function () {

            
            var status = $('#status').text();
            //console.log(status);
            

            if (status.indexOf("Accepted") >= 0) {
                $("#accepted").removeClass("inactive");
                $("#accepted").addClass("active");
            }

            if (status.indexOf("Picked") >=0) {
                $("#pickedup").removeClass("inactive");
                $("#pickedup").addClass("active");
            }

            if (status.indexOf("Delivered") >= 0) {
                $("#delivered").removeClass("inactive");
                $("#delivered").addClass("active");
            }

        });
    </script>
}

