﻿
@{
    ViewBag.Title = "Your message was sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="section">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-8 mb-5 mx-auto text-center">
                <div class="card animated fadeIn ">
                    <div class="message-icon animated fadeInDown">
                        <img src="~/Content/CustomInfoPages/Sent/message-sent.svg" alt="Message status icon" height="200">
                    </div>
                    <p id="text-p" class="mt-4 animated fadeInUp">Your message has been sent successfully.</p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
</div>


@section scripts
{
   <link rel="stylesheet" type="text/css" href="~/Content/CustomInfoPages/Sent/style.css">
}

