﻿
@{
    ViewBag.Title = "Wrong Tracking Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="section">
        <div class="row">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-8 mx-auto text-center">
                <div class="card animated fadeIn ">
                    <div class="wrong-number-icon animated fadeInDown">
                        <img src="~/Content/CustomInfoPages/WrongTrackingNumber/wrong-number.svg" alt="Wrong tracking number icon" height="180">
                    </div>
                    <p id="text-p" class="mt-4 animated fadeInUp">Oops! It seems like this tracking number doesn't exist in our system.</p>
                    <p id="text-p-2" class="mt-4 animated fadeInUp">Please try again.</p>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </section>
</div>

@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/Content/CustomInfoPages/WrongTrackingNumber/style.css">
}

