﻿@using Transportation_Company.ViewModels
@using Transportation_Company.Models
@model Transportation_Company.ViewModels.IndexRentalViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>All rentals</h2>
        @if (!Model.Rentals.Any())
        {
            <p>We don't have any rentals yet.</p>
          @*  <div class="row" style="margin-bottom: 10px;">
                <p class="btn btn-success">@Html.ActionLink("New model", "NewModel", "ModelMakes", null, new { style = "color:white; text-decoration:none;" })</p>
            </div>*@
        }
        else
        {
          @*  <div class="row" style="margin-bottom: 10px;">
                <p class="btn btn-success">@Html.ActionLink("New model", "NewModel", "ModelMakes", null, new { style = "color:white; text-decoration:none;" })</p>
            </div>*@
            <table id="rentals" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Driver</th>
                    <th>Truck</th>
                    <th>Date rented</th>
                    <th>Date returned</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var rental in Model.Rentals)
                {
                    <tr>
                        <td>@rental.ApplicationUser.FullNameWithBirthDate</td>
                        <td>@rental.Truck.TruckFullName</td>
                        <td>@rental.DateRented</td>
                        <td>@rental.DateReturned</td>
                        <td>
                            @Html.ActionLink(" ", "FinishRental", "Rentals", new {id = rental.Id}, new {@class = "glyphicon glyphicon-resize-full text-primary"})
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2 class="mt-3" style="margin-top: 50px;">Create new rental</h2>
        @Html.Partial("_NewRentalPartial", new RentalViewModel
        {
            Trucks = Model.Trucks,
            Drivers = Model.Drivers,
            Rental = new Rental()
        })
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var table = $("#rentals").DataTable();

            $("#driver").chosen({ disable_search_treshold: 3 });
            $("#truck").chosen({ disable_search_treshold: 3 });


            @if (TempData.ContainsKey("Success"))
            {
                @:toastr.success("New rental added!");
                TempData.Remove("Success");
            }

            @if (TempData.ContainsKey("Finished"))
             {
                 @:toastr.warning("Rental finished. Truck is available again!");
                 TempData.Remove("Finished");
             }

           
        });
    </script>
}



