﻿@model Transportation_Company.ViewModels.RentalViewModel

@{
    ViewBag.Title = "New rental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New truck rental</h2>

@using (Html.BeginForm("Create", "Rentals"))
{
   
    <div class="form-group">
        @Html.LabelFor(m => m.Rental.TruckId)
        @Html.DropDownListFor(m => m.Rental.TruckId, new SelectList(Model.Trucks, "Id", "TruckFullName"), "Select Truck", new { @class = "form-control", id = "truck" })
        @Html.ValidationMessageFor(m => m.Rental.TruckId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rental.ApplicationUserId)
        @Html.DropDownListFor(m => m.Rental.ApplicationUserId, new SelectList(Model.Drivers, "Id", "FullNameWithBirthdate"), "Select Truck", new { @class = "form-control", id = "driver" })
        @Html.ValidationMessageFor(m => m.Rental.ApplicationUserId)
    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {

            $("#truck").chosen({ disable_search_treshold: 3 });
            $("#driver").chosen({ disable_search_treshold: 3 });

        });
    </script>

}

