﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Transportation Solutions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" type="image/ico" href="@Url.Content("~/favicon.ico")"/>
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Transportation Solutions | Krzysztof Nowicki - s12824 | Natalia Sienkiewicz - s12575 </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
   @RenderSection("scripts", required: false)
</body>
</html>
