﻿@using Microsoft.AspNet.Identity
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/Content/Logos/transportmate-logo.svg" width="150" height="50"/>
                 @*    @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            *@
                  </div>
        <div class="navbar-collapse collapse">
            
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Dashboard", "Index", "Admin")</li>
                           <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Users
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Users", "UsersList", "Users")</li>
                                    <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
                                    <li>@Html.ActionLink("Shipping types", "Index", "ShippingTypes")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Vehicles
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Trucks", "Index", "Trucks")</li>
                                    <li>@Html.ActionLink("Trailers", "Index", "Trailers")</li>
                                    <li>@Html.ActionLink("Makes", "Index", "Makes")</li>
                                    <li>@Html.ActionLink("Models", "Index", "ModelMakes")</li>
                                    <li>@Html.ActionLink("Truck types", "Index", "TruckTypes")</li>
                                    <li>@Html.ActionLink("Trailer types", "Index", "TrailerTypes")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Trips", "Index", "Trips")</li>
                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                            <li>@Html.ActionLink("Announcements", "Index", "Announcments")</li>
                    </ul>
                    }

                    if (User.IsInRole("Broker"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Dashboard", "Index", "Broker")</li>
                            <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                            <li>@Html.ActionLink("Trips", "Index", "Trips")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                            <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
                        </ul>
                    }

                    if (User.IsInRole("Driver"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Dashboard", "Index", "Driver")</li>
                            <li>@Html.ActionLink("My Truck", "MyTruck", "Driver")</li>
                            <li>@Html.ActionLink("My Trips", "MyTrips", "Driver")</li>
                        </ul>
                    }

                    if (User.IsInRole("SafetyManager"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Dashboard", "Index", "Safety")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Vehicles
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Trucks", "Index", "Trucks")</li>
                                    <li>@Html.ActionLink("Trailers", "Index", "Trailers")</li>
                                    <li>@Html.ActionLink("Makes", "Index", "Makes")</li>
                                    <li>@Html.ActionLink("Models", "Index", "ModelMakes")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                               <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Vehicle Types
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Truck types", "Index", "TruckTypes")</li>
                                    <li>@Html.ActionLink("Trailer types", "Index", "TrailerTypes")</li>
                                </ul>
                            </li>
                        <li>@Html.ActionLink("Drivers", "DriversList", "Users")</li>
                        <li>@Html.ActionLink("Rentals", "Index", "Rentals")</li>
                        <li>@Html.ActionLink("Shippings", "Index", "ShippingTypes")</li>
                        <li>@Html.ActionLink("Announcements", "Index", "Announcments")</li>
                    </ul>
                    }

                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
