﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@* This is an original code. Everything below was added!
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
*@


<div class="container">
    <section class="section">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mx-auto text-center">
                <div class="card animated fadeIn ">
                    <h2 class="text-center">Error.</h2>
                    <div class="icon animated fadeInDown">
                        <img src="/Error/SharedError/error.svg" alt="There was an error exception." height="80">
                    </div>
                    <p class="mt-4 animated fadeInUp">An error occurred while processing your request.</p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
</div>



@section scripts
{
    <link rel="stylesheet" type="text/css" href="/Error/SharedError/sharederror.css" />
}
