﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Account Blocked";
}

@*<hgroup>  This is an original code for thi page. Everything below commented area was added.
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>*@

<div class="container">
    <section class="section">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mx-auto text-center">
                <div class="card animated fadeIn ">
                    <h2 class="text-center">Account is not working...</h2>
                    <div class="icon animated fadeInDown">
                        <img src="/Error/Lockout/you-are-blocked.svg" alt="You are blocked icon" height="80">
                    </div>
                    <p class="mt-4 animated fadeInUp">Oops, it looks like you are blocked.</p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
</div>



@section scripts
{
    <link rel="stylesheet" type="text/css" href="/Error/Lockout/lockout.css"/>
}
