﻿@model Transportation_Company.Models.TrailerType
@using (Html.BeginForm("Create", "TrailerTypes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)

    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button type="reset" class="btn btn-warning">Reset</button>
}
