﻿@model Transportation_Company.Models.TrailerType

@{
    ViewBag.Title = "Edit Trailer Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Trailer Type</h2>
@using (Html.BeginForm("Save", "TrailerTypes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)

    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

