﻿@using Transportation_Company.Models
@model System.Data.Entity.DbSet<TrailerType>
@{
    ViewBag.Title = "List of trailer types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>List of trailer types</h2>
        @if (!Model.Any())
        {
            <p>There are no trailer types.</p>
   @* <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New trailer type", "NewTrailerType", "TrailerTypes", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>*@
        }
        else
        {
  @*  <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New trailer type", "NewTrailerType", "TrailerTypes", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>*@
            <table id="trailersType" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var trailerType in Model)
                {
                    <tr>
                        <td>@trailerType.Name</td>
                        @*
                        <td>@Html.ActionLink(trailerType.Name, "Details", "TrailerTypes", new { id = trailerType.Id }, null)</td>
*@
                        <td>@trailerType.Description</td>
                        <td>
                            @Html.ActionLink(" ", "Edit", "TrailerTypes", new {id = trailerType.Id}, new {@class = "glyphicon glyphicon-edit text-primary"})
                            <button data-trailerType-id="@trailerType.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>

                        </td>
                    </tr>
                }

                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2 class="mt-3" style="margin-top: 50px;">Create new shipping type</h2>
        @Html.Partial("_NewTrailerTypePartial", new TrailerType())
    </div>
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
           
            @if (TempData.ContainsKey("Created"))
             {
                 @:toastr.success("New trailer type added!");
                 TempData.Remove("Created");
             }


            $("#trailersType").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this Trailer Type?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/trailerTypes/" + button.attr("data-trailerType-id"),
                                    method: "DELETE",
                                    success: function () {
                                        button.parents("tr").remove();
                                        toastr.error("Trailer type deleted!");

                                    }
                                });
                            }
                        });
                });
        });
    </script>
}