body {
  background-image: url("Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  line-height: 1.42857143;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

#text-p {
  color: #47576E;
  font-size: 18px;
  font-weight: 400;
}

#text-p-2 {
    color: #47576E;
    font-size: 16px;
    font-weight: 400;
}

.card {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 6px 60px rgba(35, 148, 251, 0.14);
}

.card .wrong-number-icon {
  padding: 40px;
}


.form-button {
    background-color: #0C73DA;
    border-radius: 30px;
    padding: 10px;
    color: #fff !important;
    padding: 10px 20px 10px 20px !important;
    text-transform: uppercase;
    font-size: 12px;
    margin: 4px 2px;
    border-color: #0c73da;
}

.form-button:hover {
    color: #0C73DA !important;
    box-shadow: 0px 6px 48px rgba(12, 115, 218, 0.6);
    transition: box-shadow, color;
    transition-duration: 0.5s;
    border-color: #0c73da;
}