﻿html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
}

* , :after, :before {
  -webkit-font-smoothing: antialiased;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
  color: #0E1531;
  letter-spacing: 1px;
  margin: 0 0 18px;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.68;
  margin: 0 0 18px;
  color: #47576E;
}

section {
  padding: 100px 0 !important;
}


/**
Master header and section
 */

header.masthead .masthead-content .masthead-heading {
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  font-size: 2.25em;
  line-height: 1.33;
}

header.masthead .masthead-content .masthead-subheading{
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.86;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 150px;
  background-image: url("icons/Background-elements-3.svg");
  background-color: #F5FAFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
  padding-bottom: 20px;
}

.masthead-text {
  margin-bottom: 50px;
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.section-title {
  padding: 10px 40px;
  background-color: rgba(33, 113, 255, 0.20);
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
  font-size: 0.75em;
  color: #2185FF;
}

.about-line {
  margin-bottom: 100px;
}

#about-us {
  background-color: #14122E; 
  background-image: url("icons/Background-elements-2.svg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

.about-us h3 {
  color: #fff;
}

#about-transportmate {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

#about-team {
  position: relative;
  overflow: hidden;
  background-image: url("icons/main.svg"); 
  background-color: #F5FAFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
}

#about-us .about-us-title h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.86;
  color: #0E1531;
}

#about-us .about-us-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  color: #47576E;
}

.section-heading h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #0E1531;
  line-height: 1.33
}

.section-heading-white h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #fff;
  line-height: 1.33
}

.section-heading-white p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #fff;
  margin: 0 140px;
}

.idea-item {
  padding: 30px 60px;
}

.idea-elements {
  width: 100%;
}

.img-lines {
  position: relative;
  vertical-align: middle;
  margin-top: 60px;
}

.text-white {
  color: #fff;
}

/**
Card and box
 */

.card {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

.card .card-icon {
  padding: 50px;
}

.card-body {
  padding: 40px;
}

.card-img-right {
  align-items: center;
  height: 180px;
}

.white-box {
  height: 100%;
  padding: 100px 80px 100px 80px;
  background-color: #fff;
}

.box{
  padding:40px 0px;
}

.box-card {
  overflow: hidden;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
}

.box-card:hover .box-hover button {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -55%);
}

.box-hover {
  padding: 60px 0;
  text-align: center;
  transition: 0.25s ease;
}

.box-hover button {
  -webkit-transform: translate(-50%, 125%);
  -ms-transform: translate(-50%, 125%);
  transform: translate(-50%, 125%);
  background-color: #008bf8;
  color: #fff;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  opacity: 0;
  font-weight: 600;
  transition: 0.5s ease;
}

.box-hover:hover button {
  opacity: 1;
}

.box-card:hover {
  top: -10px;
}

.box-part{
  box-shadow: 0px 6px 30px rgba(240, 240, 240, 0.14);
  background:#FFF;
  border-radius: 10px;
  padding: 70px 10px 70px 10px;
}

.box-text{
  margin:20px 0px;
}

.box-container-header {
  margin: 40px auto 70px;
  background-color: #fff;
  padding: 40px 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  text-align: center;
}

.box-container {
  margin: 120px auto 120px;
  background-color: #fff;
  padding: 0px 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  text-align: center;
}

.avatar {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.read-more-1,
.read-more-2 {
  display: none;
}


/**
Buttons and list
 */

button[type=button]  {
  border: none;
  background-color: #0C73DA;
  font-weight: 600 !important;
  color: #fff;
  width: 50%;
  padding: 10px 30px;
  margin-top: 30px;
  font-size: 12px !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9375em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button[type=button]:hover  {
  background-color: #0C73DA;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

button[type=button]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

i {
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

li {
  position: relative;
  padding-left: 60px;
}

ul li::before {
  content: '';   
  position: absolute;  
  align-items: center;
  justify-content: center;
  height: 25px;   
  width: 25px;  
  left: 0;
  display: flex;  
  background-size: 25px;   
  background-image: url('icons/bullet.svg');   
  background-repeat: no-repeat;   
  background-position: center center;
  vertical-align: middle;
  margin-right: 35px;
}

.list {
  margin-top: 40px; 
}


.list ul li {
  margin-bottom: 40px;
  color: #47576E;
}

/**
Media queries
 */

@media (min-width: 320px) and (max-width: 480px) {
  .card-img-right {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .form-control {
    margin-bottom: 15px;
  }

  .masthead .swiper-container {
    margin-top: 150px;
  }

  header.masthead .masthead-content {
    padding-top: 60px;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 28px;
  }

  .section-heading h2 {
    font-size: 26px;
  }

  .section-heading p {
    font-size: 15px;
  }

  .about-us-item {
    margin-bottom: 30px;
  }

  #how-it-work .card-title {
    font-size: 20px;
  }

  #how-it-work .card-text {
    font-size: 15px;
  }

  .white-box {
    padding: 80px 40px;
  }

  button {
    margin-left: 0;
  }

  .card-body {
    width: 300px;
  }

  #how-it-work > .container > .row{
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .card-body {
    width: 300px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .card-img-right {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .white-box {
    padding: 100px 60px 100px 60px;
  }

  .about-us-item{
    margin-bottom: 20px;
  }

  header.masthead .masthead-content {
    padding-top: 80px;
  }

  button {
    margin-left: 0;
  }

  .form-control {
    margin-bottom: 15px;
  }

  #how-it-work > .container > .row{
    margin-right: 5px;
    margin-left: 5px;
  }
}

 @media (min-width: 768px) and (max-width: 1050px) {
  .about-us-item {
    margin-bottom: 20px;
  }

  .about-us-title {
    font-size: 18px;
  }

  .card-img-right {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .white-box {
    padding: 100px 80px 100px 80px;
  }

  .form-control {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 980px) {
  header.masthead .masthead-content {
    padding-top: 80px;
  }
}

@media (min-width: 992px) and (max-width : 1200px){
  header.masthead .masthead-content .masthead-heading {
    font-size: 30px;
  }

  header.masthead .masthead-content .masthead-subheading, section.masthead .masthead-content .masthead-subheading {
    font-size: 15px;
  }
}