.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #ffffff;
}

.swiper-pagination-bullet-active {
    background: #ffffff;
}

.left-aligned {
    margin-left: 0;
    padding-left: 0;
}

.left-translated {
    left: -10%;
}

.carousel-img {
    width: 100%;
}
