﻿html,
body {
  max-width: 100%;
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
   
}

.container.body-content {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
   
}

.container {
  margin-right: auto;
  margin-left: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
  color: #0E1531;
  letter-spacing: 1px;
  margin: 0 0 18px;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.68;
  margin: 0 0 18px;
  color: #47576E;
}

section {
  padding: 80px 0;
}

section h2 {
  font-size: 50px;
}

/**
Master header and section
 */

header.masthead .masthead-content .masthead-heading {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 2.25em;
  line-height: 1.33;
}

.masthead-text {
  margin-bottom: 50px;
}

header.masthead .masthead-content .masthead-subheading{
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.86;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("icons/Background-elements.svg");
  background-color: #F5FAFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
  padding-bottom: 180px;
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.section-title {
  padding: 10px 40px;
  background-color: rgba(33, 113, 255, 0.20);
  text-transform: uppercase;
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 0.75em;
  color: #2185FF;
}

.how-it-work {
  background-color: #F0F8FF;
}

#about-us .about-us-title h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.86;
  color: #0E1531;
}

#about-us .about-us-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  color: #47576E;
}

.section-heading h2 {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #0E1531;
  line-height: 1.33
}

.section-heading p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #47576E;
}

.img-circle {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-circle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/**
Swiper
 */

 .swiper-slide {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition-timing-function: linear;
}

.masthead .swiper-container {
  margin-top: 200px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
  transition-timing-function: ease-out;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.s2 > .swiper-pagination > .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(33, 113, 255, 0.9);
}

.s2 > .swiper-pagination > .swiper-pagination-bullet-active {
  background: #2185FF;
}

.s2 > .swiper-pagination-bullets {
  bottom: 30px;
}

/**
Swiper card
 */

.masthead .card {
  height: 400px;
  border: 0;
}

.swiper-container {
  border-radius: 10px;
  box-shadow: 0px 6px 60px rgba(79, 186, 251, 0.14);
}

.swiper-slide > .card {
  border-radius: 0;
}

.swiper-slide.swiper-slide-next > .card {
  background-image: linear-gradient(to right bottom, #1b5de0, #006fea, #007ff3, #008ff9, #009fff);
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
}

.swiper-slide.swiper-slide-next > .card > .card-body > .card-title,
.swiper-slide.swiper-slide-next > .card > .card-body > .card-text {
  color: #fff;
}

.swiper-slide { 
  background: #fff;
}

.swiper-slide > .card > .card-body > .card-title {
  color: #0E1531;
}

.swiper-slide > .card > .card-body > .card-text {
  color: #47576E;
}

.swiper-slide .swiper-slide-prev {
  border: 0;
  border-right: 0;
}

.card {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}

.card .card-icon {
  padding: 50px;
}

.card-body {
  padding: 40px;
}

.card-img-right {
  align-items: center;
  height: 180px;
}

.white-box {
  height: 100%;
  padding: 100px 120px 100px 120px;
  background-color: #fff;
}

#how-it-work .card {
  padding: 200px;
}

#how-it-work .card-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 1.625em;
  line-height: 1.86;
  color: #0E1531;
}

#how-it-work .card-text {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.86;
  color: #47576E;
}

.left-aligned {
  margin-left: 0;
  padding-left: 0;
}

.carousel-img {
  height: 90px;
}

/**
Form
 */

.input-button-search {
    border: none;
    background-color: #0C73DA;
    color: #fff;
    width: 100%;
    padding: 20px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9375em;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.input-button-search:hover {
    background-color: #0C73DA;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.input-button-search:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
/*
button[type=button]  {
  border: none;
  background-color: #0C73DA;
  color: #fff;
  width: 100%;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9375em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
*/

/*button[type=button]:hover  {
  background-color: #0C73DA;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

button[type=button]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}*/

input[type="text"]{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 6px 30px rgba(240, 240, 240, 0.14);
  border: 0;
  padding: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #A3ABB6;
  font-size: 0.8125em;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 6px 30px rgba(79, 186, 251, 0.14);
}

.input-group {
  background-color: #fff;
  border-radius: 10px;
}

i {
  margin-right: 10px;
}

.form-control,
.form-control::placeholder {
  color: #A3ABB6;
  font-size: 15px;
}

/**
Media queries
 */

@media (min-width: 320px) and (max-width: 480px) {
  .card-img-right {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .form-control {
    margin-bottom: 15px;
  }

  .masthead .swiper-container {
    margin-top: 150px;
  }

  header.masthead .masthead-content {
    padding-top: 60px;
  }

  header.masthead .masthead-content .masthead-heading {
    font-size: 28px;
  }

  .section-heading h2 {
    font-size: 26px;
  }

  .section-heading p {
    font-size: 15px;
  }

  .about-us-item {
    margin-bottom: 30px;
  }

  #how-it-work .card-title {
    font-size: 20px;
  }

  #how-it-work .card-text {
    font-size: 15px;
  }

  .white-box {
    padding: 80px 40px;
  }

  button {
    margin-left: 0;
  }

  .card-body {
    width: 300px;
  }

  #how-it-work > .container > .row{
    margin-right: 5px;
    margin-left: 5px;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .card-body {
    width: 300px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .card-img-right {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .white-box {
    padding: 100px 60px 100px 60px;
  }

  .about-us-item{
    margin-bottom: 20px;
  }

  header.masthead .masthead-content {
    padding-top: 80px;
  }

  button {
    margin-left: 0;
  }

  .form-control {
    margin-bottom: 15px;
  }

  #how-it-work > .container > .row{
    margin-right: 5px;
    margin-left: 5px;
  }
}

 @media (min-width: 768px) and (max-width: 1050px) {
  .about-us-item {
    margin-bottom: 20px;
  }

  .about-us-title {
    font-size: 18px;
  }

  .card-img-right {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .white-box {
    padding: 100px 80px 100px 80px;
  }

  .form-control {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 980px) {
  header.masthead .masthead-content {
    padding-top: 80px;
  }
}

@media (min-width: 992px) and (max-width : 1200px){
  header.masthead .masthead-content .masthead-heading {
    font-size: 30px;
  }

  header.masthead .masthead-content .masthead-subheading, section.masthead .masthead-content .masthead-subheading {
    font-size: 15px;
  }
}

