﻿@model Transportation_Company.Models.Make
@using (Html.BeginForm("Create", "Makes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { CharacterCasing = "Upper", @class = "form-control", style = "text-transform: uppercase;", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


