﻿@model Transportation_Company.Models.Make
@{
    ViewBag.Title = "Edit make";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit make (brand)</h2>
@using (Html.BeginForm("Save", "Makes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", style = "text-transform: uppercase;" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}