﻿@using Transportation_Company.Models
@model System.Data.Entity.DbSet<Make>

@{
    ViewBag.Title = "List of brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>Makes list</h2>
        @if (!Model.Any())
        {
            <p>There are no makes yet.</p>
@*<div class="row" style="margin-bottom: 10px;">
    <p class="btn btn-success">@Html.ActionLink("New make", "NewMake", "Makes", null, new { style = "color:white; text-decoration:none;" })</p>
</div>*@
        }
        else
        {
@*<div class="row" style="margin-bottom: 10px;">
    <p class="btn btn-success">@Html.ActionLink("New make", "NewMake", "Makes", null, new { style = "color:white; text-decoration:none;" })</p>
</div>*@
            <table id="makes" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Make</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var make in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(make.Name, "Details", "Makes", new { id = make.Id }, null)</td>
                        <td>
                            @Html.ActionLink(" ", "Edit", "Makes", new { id = make.Id }, new { @class = "glyphicon glyphicon-edit text-primary" })
                            <button data-make-id="@make.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2 class="mt-3" style="margin-top: 50px;">Create new make</h2>
        @Html.Partial("_NewMakePartial", new Make())

    </div>
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var table = $("#makes").DataTable();

            @if (TempData.ContainsKey("Success"))
            {
                @:toastr.success("New make added!");
                TempData.Remove("Success");
            }

            $("#makes").on("click", ".js-delete",
                function () {
                                var button = $(this);

                                bootbox.confirm("Are you sure you want to delete this Make?",
                                    function(result) {
                                    if (result) {
                                $.ajax({
                                            url: "/api/makes/" + button.attr("data-make-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        toastr.error("Make deleted!");
                                    }
                                        });
                    }
                });
                });
        });
    </script>
}
