﻿@model Transportation_Company.Models.Make
@{
    ViewBag.Title = "New make";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New make (brand)</h2>
@using (Html.BeginForm("Create", "Makes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {CharacterCasing = "Upper", @class = "form-control", style = "text-transform: uppercase;", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
