﻿@model Transportation_Company.ViewModels.TruckViewModel
@{
    ViewBag.Title = "EditTruck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Truck | @Model.Truck.LicencePlate</h2>

@using (Html.BeginForm("Save", "Trucks"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Truck.LicencePlate)
        @Html.TextBoxFor(m => m.Truck.LicencePlate, new { @class = "form-control", @style = "text-transform: uppercase;" })
        @Html.ValidationMessageFor(m => m.Truck.LicencePlate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Truck.YearOfProduction)
        @Html.TextBoxFor(m => m.Truck.YearOfProduction, new { @class = "form-control productionYear-mask" })
        @Html.ValidationMessageFor(m => m.Truck.YearOfProduction)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Truck.Engine)
        @{Html.EnableClientValidation(false);}
        @Html.TextBoxFor(m => m.Truck.Engine, new { Title = "Enter float value, like: 2,4.", @class = "form-control engine-mask" })
        @{Html.EnableClientValidation(true);}
        @Html.ValidationMessageFor(m => m.Truck.Engine)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Truck.LiftingCapacity)
        @Html.TextBoxFor(m => m.Truck.LiftingCapacity, new { Title = "Enter integer, like: 5000.", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Truck.LiftingCapacity)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Truck.MakeId)
        @Html.DropDownListFor(m => m.Truck.MakeId, new SelectList(Model.Makes, "Id", "Name"), "Select Make", new { @class = "form-control", id = "truckMake" })
        @Html.ValidationMessageFor(m => m.Truck.MakeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Truck.ModelMakeId)
        @Html.DropDownListFor(m => m.Truck.ModelMakeId, new SelectList(Model.ModelMakes, "Id", "Name"), "Select Model", new { @class = "form-control", id = "truckModel" })
        @Html.ValidationMessageFor(m => m.Truck.ModelMakeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Truck.TruckTypeId)
        @Html.DropDownListFor(m => m.Truck.TruckTypeId, new SelectList(Model.TruckTypes, "Id", "Name"), "Select Type", new { @class = "form-control", id = "truckType" })
        @Html.ValidationMessageFor(m => m.Truck.TruckTypeId)
    </div>
    @Html.HiddenFor(m => m.Truck.Id)
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-success">Save</button>
            <button class="btn btn-primary" onclick=@Html.ActionLink(" ", "Index", "Trucks")>Back</button>

            }
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('.engine-mask').mask('0,00', { placeholder: "2,4" });
            $('.productionYear-mask').mask('0000', { placeholder: "2018" });


            $("#truckMake").chosen({ disable_search_treshold: 3 });
            $("#truckModel").chosen({ disable_search_treshold: 3 });
            $("#truckType").chosen({ disable_search_treshold: 3 });


            $('[title]').tooltip({
                placement: "right",
                trigger: "focus"
            });
        });
    </script>

}
