﻿@model IEnumerable<Transportation_Company.Models.Truck>


<table id="maintainedTrucks" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Side #</th>
        <th>License Plate</th>
        <th>Model</th>
        <th>Make (Brand)</th>
        <th>Type</th>
        <th>Engine [l]</th>
        <th>Lifting capacity [kg]</th>
        <th>Production year / age</th>
        <th>Is available?</th>
        <th>Needs maintanence?</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var truck in Model)
    {
        <tr>
            <td>@truck.Id</td>
            <td>@truck.LicencePlate</td>
            <td>@truck.ModelMake.Name</td>
            <td>@truck.Make.Name</td>
            <td>@truck.TruckType.Name</td>
            <td>@truck.Engine</td>
            <td>@truck.LiftingCapacity</td>
            <td>@truck.YearOfProduction / @truck.Age()</td>
            <td>@truck.IsAvailable</td>
            <td>@truck.NeedsMaintenance</td>
            <td>
                @Html.ActionLink(" ", "Details", "Trucks", new { id = truck.Id }, new { @class = "glyphicon glyphicon-book text-primary" }) |
                @Html.ActionLink(" ", "SendBack", "Trucks", new { id = truck.Id }, new { @class = "glyphicon glyphicon-ok text-success js-sendBack" })
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts{
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/Content/css")

    <script>
        $(document).ready(function() {
            var table = $("#maintainedTrucks").DataTable();

            $("#maintainedTrucks").on("click", ".js-sendBack",
                function (e) {
                    var self = this;

                    bootbox.confirm("Do you want to send this truck back to yard?", function (result) {
                        window.location = self.href;
                    });
                    e.preventDefault();
                });
        });
    </script>
}
