﻿@model IEnumerable<Transportation_Company.Models.Truck>

@{
    ViewBag.Title = "Index";
}

<h2>Truck list</h2>

@if (!Model.Any())
{
    <p>We don't have any trucks yet.</p>
    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New truck", "NewTruck", "Trucks", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>
}
else
{
    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New truck", "NewTruck", "Trucks", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>
    <table id="trucks" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Side #</th>
            <th>License Plate</th>
            <th>Model</th>
            <th>Make (Brand)</th>
            <th>Type</th>
            <th>Engine [l]</th>
            <th>Lifting capacity [kg]</th>
            <th>Production year / age</th>
            <th>Is available?</th>
            <th>Needs maintanence?</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var truck in Model)
        {
            <tr>
                <td>@truck.Id</td>
                <td>@truck.LicencePlate</td>
                <td>@truck.ModelMake.Name</td>
                <td>@truck.Make.Name</td>
                <td>@truck.TruckType.Name</td>
                <td>@truck.Engine</td>
                <td>@truck.LiftingCapacity</td>
                <td>@truck.YearOfProduction / @truck.Age()</td>
                <td>@truck.IsAvailable</td>
                <td>@truck.NeedsMaintenance</td>
                <td>
                    @Html.ActionLink(" ", "Details", "Trucks", new {id = truck.Id}, new {@class = "glyphicon glyphicon-book text-primary"}) 
                    @Html.ActionLink(" ", "EditTruck", "Trucks", new {id = truck.Id}, new {@class = "glyphicon glyphicon-edit text-warning"})
                    @Html.ActionLink(" ", "MaintainTruck", "Trucks", new {id = truck.Id}, new {@class = "glyphicon glyphicon-wrench text-info js-maintain", onclick = "return bootbox.confirm('Do you want send this truck to mechanic?')", id="maintenanceButton"})|
                    <button data-model-id="@truck.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="mt-3">
        @Html.Partial("GetMaintainedTrucks")
    </div>
  //  @{ Html.RenderPartial("GetMaintainedTrucks");}
}


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#trucks").DataTable();

            $("#trucks").on("click", ".js-maintain",
                function (e) {
                    var self = this;

                    bootbox.confirm("Do you want to send this truck to mechanic?", function(result) {
                        window.location = self.href;
                    });
                    e.preventDefault();
                });

            $("#trucks").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this Truck?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/trucks/" + button.attr("data-model-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        toastr.error('Truck deleted!')
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
