﻿@model Transportation_Company.ViewModels.UpdateTruckMileageViewModel
@{
    ViewBag.Title = "Update Truck Mileage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("NewTruckMileageEntry", "Trucks"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.TruckMileageHistory.Mileage)
        @Html.TextBoxFor(m => m.TruckMileageHistory.Mileage, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.TruckMileageHistory.Mileage)
    </div>
    @Html.HiddenFor(m => m.TruckMileageHistory.TruckId)

    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Update mileage</button>
    <button type="reset" class="btn btn-warning">Reset</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}
