﻿@model Transportation_Company.Models.Trailer
@{
    ViewBag.Title = "Details";
}

<h2>Details | Truck#: @Model.Id | @Model.LicencePlate</h2>

<div class="row">
    <div class="col-md-4">
        <p> @Model.TrailerFullName </p>
    </div>
    <div class="col-md-8">
        
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-9"></div>
</div>

