﻿@model IEnumerable<Transportation_Company.Models.Trailer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trailers list</h2>
@if (!Model.Any())
{
    <p>We don't have any trailers yet.</p>
    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New trailer", "NewTrailer", "Trailers", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>
}
else
{
    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New trailer", "NewTrailer", "Trailers", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>
    <table id="trailers" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Side #</th>
            <th>License Plate</th>
            <th>Model</th>
            <th>Make (Brand)</th>
            <th>Type</th>
            <th>Capacity [kg]</th>
            <th>Length [m]</th>
            <th>Production year / age</th>
            <th>Is available?</th>
            <th>Needs maintanence?</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var trailer in Model)
        {
            <tr>
                <td>@trailer.Id</td>
                <td>@trailer.LicencePlate</td>
                <td>@trailer.ModelMake.Name</td>
                <td>@trailer.Make.Name</td>
                <td>@trailer.TrailerType.Name</td>
                <td>@trailer.Capacity</td>
                <td>@trailer.Length</td>
                <td>@trailer.YearOfProduction / @trailer.Age()</td>
                <td>@trailer.IsAvailable</td>
                <td>@trailer.NeedsMaintenance</td>
                <td>
                    @Html.ActionLink(" ", "Details", "Trailers", new { id = trailer.Id }, new { @class = "glyphicon glyphicon-book text-primary" }) |
                    @Html.ActionLink(" ", "EditTrailer", "Trailers", new { id = trailer.Id }, new { @class = "glyphicon glyphicon-edit text-warning" })|
                    <button data-model-id="@trailer.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#trailers").DataTable();

            $("#trailers").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this Model?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/trailers/" + button.attr("data-model-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
