﻿@model Transportation_Company.ViewModels.TrailerViewModel
@{
    ViewBag.Title = "New Trailer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Trailer</h2>
@using (Html.BeginForm("Create", "Trailers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Trailer.LicencePlate)
        @Html.TextBoxFor(m => m.Trailer.LicencePlate, new { @class = "form-control", style = "text-transform: uppercase;", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Trailer.LicencePlate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Trailer.YearOfProduction)
        @Html.TextBoxFor(m => m.Trailer.YearOfProduction, new { @class = "form-control productionYear-mask" })
        @Html.ValidationMessageFor(m => m.Trailer.YearOfProduction)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Trailer.Capacity)
        @Html.TextBoxFor(m => m.Trailer.Capacity, new {Title = "Enter integer demonstrating value in kilograms.", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Trailer.Capacity)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Trailer.Length)
        @Html.TextBoxFor(m => m.Trailer.Length, new {Title = "Enter integer demonstrating value in feets.", @class = "form-control length-mask" })
        @Html.ValidationMessageFor(m => m.Trailer.Length)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Trailer.MakeId)
        @Html.DropDownListFor(m => m.Trailer.MakeId, new SelectList(Model.Makes, "Id", "Name"), "Select Make", new { @class = "form-control", id="trailerMake" })
        @Html.ValidationMessageFor(m => m.Trailer.MakeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Trailer.ModelMakeId)
        @Html.DropDownListFor(m => m.Trailer.ModelMakeId, new SelectList(Model.ModelMakes, "Id", "Name"), "Select Model", new { @class = "form-control", id = "trailerModel" })
        @Html.ValidationMessageFor(m => m.Trailer.ModelMakeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Trailer.TrailerTypeId)
        @Html.DropDownListFor(m => m.Trailer.TrailerTypeId, new SelectList(Model.TrailerTypes, "Id", "Name"), "Select Type", new { @class = "form-control", id = "trailerType" })
        @Html.ValidationMessageFor(m => m.Trailer.TrailerTypeId)
    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <button class="btn btn-primary" onclick=@Html.ActionLink(" ", "Index", "Trailers")>Back</button> 

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            $('.length-mask').mask('000', {placeholder:"53 ft."});
            $('.productionYear-mask').mask('0000', { placeholder: "2018" });

            //Searchable dropdowns
            $("#trailerMake").chosen({ disable_search_treshold: 3 });
            $("#trailerModel").chosen({ disable_search_treshold: 3 });
            $("#trailerType").chosen({ disable_search_treshold: 3 });
         
            $('[title]').tooltip({
                placement: "right",
                trigger: "focus"
            });
        });
    </script>

}
