﻿@model Transportation_Company.ViewModels.SafetyViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dashboard">
    <div class="row container-2">
        <div class="col-md-3">
            <div class="card-counter primary">
                <img src="~/Content/ApplicationAdminIcons/594 - User Groups.svg" />
                <span class="count-title">Users</span>
                <span class="count-numbers">@ViewBag.UsersCount</span>
                <span class="count-name">@ViewBag.ActiveUsers active & @ViewBag.BlockedUsers blocked</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter danger">
                <img src="~/Content/ApplicationAdminIcons/614 - Members.svg" />
                <span class="count-title">Rentals</span>
                <span class="count-numbers">@ViewBag.ActiveRentals active</span>
                <span class="count-name">with @ViewBag.AllRentals in generall</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter success">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5128 - Parked Trucks.svg" />
                <span class="count-title">Vehicles</span>
                <span class="count-numbers">@ViewBag.VehiclesCount in total</span>
                <span class="count-name">@ViewBag.TrucksCount trucks | @ViewBag.TrailersCount trailers</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter info">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5116 - Broken.svg" />
                <span class="count-title">Trucks for maintenance</span>
                <span class="count-numbers">@ViewBag.NeedMaintenanceNumber</span>
                <span class="count-name">Time to hire mechanic!</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel" style="height: 350px;">
                        <div class="panel-body panel-default">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><strong>Truck types</strong></h4>
                                    <table id="truckTyp" class="table table-bordered table-hover">
                                        <thead class="text-center">
                                        <tr>
                                            <th style="text-align: left;">Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var truckType in Model.TruckTypes)
                                        {
                                            <tr>
                                                <td>@truckType.Name</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h4><strong>Trailer types</strong></h4>
                                    <table id="trailerTyp" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var trailerType in Model.TrailerTypes)
                                        {
                                            <tr>
                                                <td>@trailerType.Name</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <hr />
                                    <h4>Top brands </h4>

                                    <h5><strong>Truck: </strong>@ViewBag.TopTruckBrandName</h5>
                                    <h5><strong>Trailer: </strong>@ViewBag.TopTrailerBrandName</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="panel" style="height: 350px;">
                        <div class="panel-body panel-default">
                            <h4>We have...</h4>
                            <hr />
                            <h3><strong>@ViewBag.BrandsCount</strong> makes</h3>
                            <h3><strong>@ViewBag.ModelsCount </strong>models</h3>
                            <h3><strong>@ViewBag.ShippingNumber </strong>shipping types</h3>
                            <br/>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel" style="height: 350px; background-color: #00bfff;">
                        <div class="panel-body panel-default">
                            <table id="drivers" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone #</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var driver in Model.Drivers)
                                    {
                                        <tr>
                                            <td>@driver.FullNameWithBirthDate</td>
                                            <td>@driver.DrivingLicense</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel" style="height: 300px;">
                        <div class="panel-body panel-default">
                            <table id="activeRentals" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Driver</th>
                                    <th>Truck</th>
                                    <th>Rental started</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var rental in Model.Rentals)
                                {
                                    <tr>
                                        <td>@rental.ApplicationUser.FullNameWithBirthDate</td>
                                        <td>@rental.Truck.TruckFullName</td>
                                        <td>@rental.DateRented</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="dash-box dash-box-color-1">
                        <div class="dash-box-icon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </div>
                        <div class="dash-box-body">
                            <span class="dash-box-count">@ViewBag.AnonSubject</span>
                            <span class="dash-box-title">@ViewBag.AnonMessage</span>
                        </div>
                        <div class="dash-box-action">
                            <span class="dash-box-signature">@ViewBag.AnonAuthor | @ViewBag.AnonCreatedOn</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homestyle.css" />

    <script>
        $(document).ready(function () {
            $('#drivers').DataTable({
                scrollY: 200,
                scrollCollapse: true,
                paging: false,
                info: false
            });
            $('#truckTyp').DataTable({
                scrollY: 100,
                scrollCollapse: true,
                paging: false,
                searching: false,
                info: false
            });
            $('#trailerTyp').DataTable({
                scrollY: 200,
                scrollCollapse: true,
                paging: false,
                searching: false,
                info: false
            });

            $('#activeRentals').DataTable({
                scrollY: 350,
                scrollCollapse: true,
                paging: false,
                info: false
        });
        });
    </script>

}

