﻿@model Transportation_Company.Models.ShippingType

@using (Html.BeginForm("Create", "ShippingTypes"))
{
   @* @Html.ValidationSummary(true, "Please fix the following errors.")
*@
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { placeholder = "Air Express", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Duration)
        @Html.TextBoxFor(m => m.Duration, new {placeholder = "36 days", Title = "Duration is automatically assigned to days. Just enter the number.", @class = "form-control duration-mask", id ="duration-mask" })
        @Html.ValidationMessageFor(m => m.Duration)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rate)
        @Html.TextBoxFor(m => m.Rate, new {placeholder = "20%", Title = "Rate is converted to percentages automatically.", @class = "form-control rate-mask", id="rate-mask" })
        @Html.ValidationMessageFor(m => m.Rate)
    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button type="reset" class="btn btn-warning">Reset</button>

  
}

@* If we add this, then other scripts on parent site are not working.
@Scripts.Render("~/bundles/lib")
*@
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#duration-mask').mask('000', {placeholder:"36 days"});
        $('#rate-mask').mask('00', { placeholder: "25%" });

        $('[title]').tooltip({
            placement: "right",
            trigger: "focus"
        });
    });
</script>
@*Partial view by default and Microsoft convention 
    is not supposed to work with section scripts. 
    All scripts should be addded to simple <script> tag
    and then copied to section scripts into to parent view. 
    In our case it is a Index view. *@
@*@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            $('.duration-mask').mask('000', {placeholder:"36 days"});
            $('.rate-mask').mask('00', { placeholder: "25%" });

            $('[title]').tooltip({
                placement: "top",
                trigger: "focus"
            });
        });
    </script>
}*@
