﻿@model Transportation_Company.Models.ShippingType

@{
    ViewBag.Title = "Edit Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit shipping</h2>
@using (Html.BeginForm("Save", "ShippingTypes"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {placeholder = "Air Express", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Duration)
        @Html.TextBoxFor(m => m.Duration, new { Title = "Duration is automatically assigned to days. Just enter the number.", @class = "form-control duration-mask" })
        @Html.ValidationMessageFor(m => m.Duration)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rate)
        @Html.TextBoxFor(m => m.Rate, new { Title = "Rate is converted to percentages automatically.", @class = "form-control rate-mask" })
        @Html.ValidationMessageFor(m => m.Rate)

    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            $('.duration-mask').mask('000', {placeholder:"36 days"});
            $('.rate-mask').mask('00', { placeholder: "25%" });

            $('[title]').tooltip({
                placement: "right",
                trigger: "focus"
            });
        });
    </script>
}