﻿@using Transportation_Company.Models
@model System.Data.Entity.DbSet<ShippingType>
@{
    ViewBag.Title = "List of shipping types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>List of shipping types</h2>
        @if (!Model.Any())
        {
            <p>There are no shipping methods.</p>
   @* <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New shipping type", "New", "ShippingTypes", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>*@
        }
        else
        {
  @*  <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New shipping type", "New", "ShippingTypes", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>*@
            <table id="shippingtypes" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Method</th>
                    <th>Duration (in days)</th>
                    <th>Flat rate</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var shippingType in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(shippingType.Name, "Details", "ShippingTypes", new { id = shippingType.Id }, null)</td>
                        <td>@shippingType.Duration</td>
                        <td>@shippingType.Rate</td>
                        <td>
                            @Html.ActionLink(" ", "Edit", "ShippingTypes", new { id = shippingType.Id }, new { @class = "glyphicon glyphicon-edit text-primary" })
                            <button data-shipping-id="@shippingType.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2 class="mt-3" style="margin-top: 50px;">Create new shipping type</h2>
        @Html.Partial("_NewShippingTypePartial", new ShippingType())
    </div>
</div>



@section scripts
{
   
    @*In order to have validations in partials we need also render jquery validations *@
    @*In order to haave jquery classes associated with our partial view we need to add those 
        classes to the master view. Partial view includes all of items into master page.*@
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var table = $("#shippingtypes").DataTable();

            @if (TempData.ContainsKey("Created"))
            {
                @:toastr.success("New shipping type added!");
                TempData.Remove("Created");
            }

            $('#duration-mask').val("");
            $('#rate-mask').val("");

            $('#duration-mask').mask('000', { placeholder: "36 days" });
            $('#rate-mask').mask('0000', { placeholder: "250$" });

            $('[title]').tooltip({
                placement: "top",
                trigger: "focus"
            });

            $("#shippingtypes").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this Shipping Type?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/shippingTypes/" + button.attr("data-shipping-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        toastr.error("Shipping type deleted!");

                                    }
                                });
                            }
                        });
                });
        });
    </script>
}