﻿body {
    background-image: url("Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cabin', sans-serif;
    line-height: 1.42857143;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    margin-top: 120px;
    margin-bottom: 120px;
}

h2 {
    color: #47576e;
    font-weight: 500;
}

p {
    color: #47576E;
    font-size: 18px;
    font-weight: 400;
}

.card {
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 6px 60px rgba(35, 148, 251, 0.54);
}

.card .icon {
    padding: 50px 0;
}

@media only screen and (max-width: 1024px) {
    .card .icon img {
        height: 50px;
    }
}


