﻿@model Transportation_Company.Models.Order
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><small>Details for order </small>#@Model.Id</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Customer</h3>
                <hr />
                <p><strong>Company:</strong> @Model.Customer.CompanyName</p>
                <p><strong>Representative:</strong> @Model.Customer.Name</p>
                <p><strong>Membership:</strong> @Model.Customer.MembershipType.Name</p>
                <p><strong>NIP:</strong> @Model.Customer.IdentificationNumber</p>
                <p><strong>Address:</strong> @Model.Customer.Address</p>
                <p><strong>Address:</strong> @Model.Customer.City, @Model.Customer.ZipCode, @Model.Customer.Country </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Freight</h3>
                <hr />
                <p><strong>Weight:</strong> @Model.Weight kg</p>
                <p><strong>Width:</strong> @Model.Width cm</p>
                <p><strong>Length:</strong> @Model.Length cm</p>
                <p><strong>Height:</strong> @Model.Height cm</p>
                <p><strong>Volume:</strong> @Model.Volume m3</p>
                <p>
                    <strong>Refrigerated:</strong> @Model.IsRefrigerated  @if (Model.IsRefrigerated)
                    {
                        <p><strong>Min:</strong> @Model.MinTemperature C, <strong>Max:</strong> @Model.MaxTemperature C </p>
                    } </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Transport</h3>
                    <hr />
                    <p><strong>Tracking #:</strong> @Model.TrackingNumber</p>
                    <p><strong>Pickup #:</strong> @Model.PickUpNumber</p>
                    <p><strong>Delivery #:</strong> @Model.DeliveryNumber</p>
                    <p><strong>Pickup Date:</strong> @Model.PickUpDate</p>
                    <p><strong>Delivery Date:</strong> @Model.DeliveryDate</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="col-md-5">
                    <h3>Pick up</h3>
                    <hr />
                    <h1 class="text-center">@Model.PickUpLocation</h1>
                    <br />
                    <h4 class="text-center">@Model.PickUpDate</h4>
                </div>
                <div class="col-md-2">
                    <br />
                    <br />
                    <h1 id="order-details-arrow" style="display: flex; justify-content: center;" class="text-center">
                        <i class="glyphicon glyphicon-arrow-right text-primary"></i>
                    </h1>
                    <br />
                    <p class="text-center">@Model.Distance kilometres</p>
                    <p class="text-center">@Model.ShippingType.Name, @Model.ShippingType.Duration day(s)</p>
                </div>
                <div class="col-md-5">
                    <h3>Delivery</h3>
                    <hr />
                    <h1 class="text-center">@Model.DeliveryLocation</h1>
                    <br />
                    <h4 class="text-center">@Model.DeliveryDate</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="btn btn-warning" style="text-decoration: none; color: white;"><i class="glyphicon glyphicon-download"></i> @Html.ActionLink("Generate PDF", "PrintInvoice", "Orders", new { id = Model.Id }, new { @class = "", style = "text-decoration: none; color: white;" })</p>
            <p class="btn btn-primary" style="text-decoration: none; color: white;"><i class="glyphicon glyphicon-pencil"></i> @Html.ActionLink("Edit", "Edit", "Orders", new { id = Model.Id }, new { @class = "", style = "text-decoration: none; color: white;" })</p>
            <p class="btn btn-info" style="text-decoration: none; color: white;"><i class="glyphicon glyphicon-chevron-left"></i> @Html.ActionLink("Back", "Index", "Orders", new { @class = "", style = "text-decoration: none; color: white;" })</p>
        </div>
        <div class="col-md-4">
            <label>Additional information</label>
            <p>@Model.AdditionalInformation</p>
@*
            @{int total = (int) (@Model.Price + Model.ShippingType.Rate)}
*@
            <p class="text-center" style="border: 1px solid grey; padding: 5px;"><strong>Total:</strong> $@(((Model.Price + Model.ShippingType.Rate) * Model.Customer.MembershipType.DiscountRate)/100 )</p>
@*
            <p class="text-center"><strong>Total from var:</strong> $@total</p>
*@
        </div>
        <div class="col-md-4">
            <p><strong>Broker name: @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</strong></p>
            <p><strong>Broker e-mail: @Model.ApplicationUser.Email</strong></p>
            <p><strong>Order created: @Model.CreatedOnDate</strong></p>
        </div>
    </div>

