﻿@model Transportation_Company.ViewModels.EditOrderViewModel
@{
    ViewBag.Title = "Edit Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Order #@Model.Order.Id</h2>
@using (Html.BeginForm("Save", "Orders"))
{
    <div class="row">
        <div class="col-md-6">
            <h3>Transport</h3>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Order.PickUpDate)
                @Html.TextBoxFor(m => m.Order.PickUpDate, new { @class = "form-control", id = "datetimepicker-from"})
                @Html.ValidationMessageFor(m => m.Order.PickUpDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.DeliveryDate)
                @Html.TextBoxFor(m => m.Order.DeliveryDate, new { @class = "form-control", id = "datetimepicker-to" })
                @Html.ValidationMessageFor(m => m.Order.DeliveryDate)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.PickUpLocation)
                @Html.TextBoxFor(m => m.Order.PickUpLocation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.PickUpLocation)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.DeliveryLocation)
                @Html.TextBoxFor(m => m.Order.DeliveryLocation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.DeliveryLocation)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.Distance)
                @Html.TextBoxFor(m => m.Order.Distance, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.Distance)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.PickUpNumber)
                @Html.TextBoxFor(m => m.Order.PickUpNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.PickUpNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.DeliveryNumber)
                @Html.TextBoxFor(m => m.Order.DeliveryNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.DeliveryNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.AdditionalInformation)
                @Html.TextAreaFor(m => m.Order.AdditionalInformation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.AdditionalInformation)
            </div>
        </div>
        <div class="col-md-6">
            <h3>Freight</h3>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Order.Height)
                @Html.TextBoxFor(m => m.Order.Height, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.Height)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.Width)
                @Html.TextBoxFor(m => m.Order.Width, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.Width)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.Length)
                @Html.TextBoxFor(m => m.Order.Length, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.Length)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.Weight)
                @Html.TextBoxFor(m => m.Order.Weight, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.Weight)
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Order.IsRefrigerated, new { id = "IsRefrigerated" }) Refrigerated?
                </label>
            </div>
            <div id="MinTemperature" class="form-group">
                @Html.LabelFor(m => m.Order.MinTemperature)
                @Html.TextBoxFor(m => m.Order.MinTemperature, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.MinTemperature)
            </div>
            <div id="MaxTemperature" class="form-group">
                @Html.LabelFor(m => m.Order.MaxTemperature)
                @Html.TextBoxFor(m => m.Order.MaxTemperature, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order.MaxTemperature)
            </div>
            <hr />
             <div class="form-group">
                    @Html.LabelFor(m => m.Order.OrderStatusId)
                    @Html.DropDownListFor(m => m.Order.OrderStatusId, new SelectList(Model.OrderStatuses, "Id", "Name"), "Select Status", new {@class = "form-control", id = "orderStatuses"})
                    @Html.ValidationMessageFor(m => m.Order.OrderStatusId)
                </div>
           
            <div class="form-group">
                @Html.LabelFor(m => m.Order.ShippingTypeId)
                @Html.DropDownListFor(m => m.Order.ShippingTypeId, new SelectList(Model.ShippingTypes, "Id", "Name"), "Select Shipping Method", new { @class = "form-control", id = "orderShippings" })
                @Html.ValidationMessageFor(m => m.Order.ShippingTypeId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Order.CustomerId)
                @Html.DropDownListFor(m => m.Order.CustomerId, new SelectList(Model.Customers, "Id", "FullCustomerInfo"), "Select Customer", new { @class = "form-control", id ="orderCustomers" })
                @Html.ValidationMessageFor(m => m.Order.CustomerId)
            </div>
            @Html.HiddenFor(o => o.Order.Id)
            @Html.AntiForgeryToken()
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
        <button id="reset" class="btn btn-warning">Reset</button>
        <button class="btn btn-primary" onclick="history.back();">Back</button>

}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('.date-picker').datepicker({ format: "yyyy/mm/dd", autoclose: true });

            $('#reset').click(function() {
                $(this).closest('form').find("input[type=text], textarea").val("");
            });

            //Date time picker
            $('#datetimepicker-from').datetimepicker({
                inline: true,
                sideBySide: true,
                showTodayButton: true,
                stepping: 5,
                showClose: true,
                showClear: true
            });
            $('#datetimepicker-to').datetimepicker({
                inline: true,
                sideBySide: true,
                showTodayButton: true,
                stepping: 5,
                showClose: true,
                showClear: true,
                useCurrent: false
            });

            $('#datetimepicker-from').on("dp.change",
                function (e) {
                    $('#datetimepicker-to').data("DateTimePicker").minDate(e.date);
                });

            $('#datetimepicker-to').on("dp.change",
                function (e) {
                    $('#datetimepicker-from').data("DateTimePicker").maxDate(e.date);
                });




            $("#orderCustomers").chosen();
            $("#orderShippings").chosen();
            $("#orderStatuses").chosen();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#MinTemperature').hide();
            $('#MaxTemperature').hide();

            $('#IsRefrigerated').click(function () {
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#MinTemperature').show();
                    $('#MaxTemperature').show();
                } else {
                    $('#MinTemperature').hide();
                    $('#MaxTemperature').hide();
                }
            });
        });
    </script>
}
