﻿@model Transportation_Company.ViewModels.EditOrderStatusViewModel
@{
    ViewBag.Title = "Edit Order Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update order status | #@Model.Order.Id | Current status: <strong>@Model.Order.OrderStatus.Name</strong></h2>
<p><strong>From: </strong>@Model.Order.PickUpLocation | @Model.Order.PickUpDate</p>
<p><strong>To: </strong>@Model.Order.DeliveryLocation | @Model.Order.DeliveryDate</p>
<hr/>
@using (Html.BeginForm("SaveStatus", "Orders"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Order.OrderStatusId)
        @Html.DropDownListFor(m => m.Order.OrderStatusId, new SelectList(Model.OrderStatuses, "Id", "Name"), "Select Status", new {@class = "form-control", id = "orderStatuses"})
        @Html.ValidationMessageFor(m => m.Order.OrderStatusId)
    </div>
    @Html.HiddenFor(o => o.Order.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

}

