﻿@model Transportation_Company.Models.Order
@{
    ViewBag.Title = "Generate Invoice";
    Layout = "";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div id="top-container" class="row p-5">
                        <div class="col-md-6">
                            <img src="/Content/Invoice/transportmate-logo.svg" height="60" alt="Transportmate logo">
                        </div>
                        <div class="col-md-6 text-right">
                            <p class="text-blue mb-1">Invoice ID: @Model.Id</p>
                            <p class="text-white">Order created: @Model.CreatedOnDate.ToShortDateString()</p>
                            <p class="text-white">Invoice issued: @DateTime.Now</p>
                            <p class="text-white">Payment due: @Model.CreatedOnDate.AddDays(14).ToShortDateString()</p>
                            <p class="text-white">Payment due: @DateTime.Now.AddDays(14).ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="row pb-5 p-5">
                        <div class="col-md-4 text-left">
                            <p class="text-blue mb-1">Customer</p>
                            <p class="header mb-3">@Model.Customer.CompanyName</p>
                            <p class="mb-2">@Model.Customer.Name</p>
                            <p class="mb-2">
                                @Model.Customer.Address, <br />
                                @Model.Customer.City, @Model.Customer.ZipCode, @Model.Customer.Country
                            </p>
                            <p class="mb-2">@Model.Customer.IdentificationNumber</p>
                        </div>
                        <div class="col-md-4 text-left">
                            <p class="text-blue mb-1">Payment to</p>
                            <p class="header mb-3">TransportMate Company</p>
                            <p class="mb-2">Krzysztof Nowicki</p>
                            <p class="mb-2">Warsaw, Poland</p>
                            <p class="mb-2">+48 600 600 600</p>
                        </div>
                        <div class="col-md-4 text-right">
                            <p class="text-blue mb-1">Please make payment to</p>
                            <p class="header">@DateTime.Now.AddDays(14).ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-md-12 pt-3 pb-5">
                            <table class="table bordered-table table-rounded">
                                <thead>
                                    <tr>
                                        <th class="text-center">Service Details</th>
                                        <th class="text-center">Shipping Rate</th>
                                        <th class="text-center">Volume [m3]</th>
                                        <th class="text-center">Weight [kg]</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">@Model.ShippingType.Name</td>
                                        <td class="text-center">@Model.ShippingType.Rate</td>
                                        <td class="text-center">@Model.Volume</td>
                                        <td class="text-center">@Model.Weight</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-summary text-right pt-5 pb-5">Total price</td>
                                        <td class="text-summary text-center pt-5 pb-5">$@(((Model.Price + Model.ShippingType.Rate) * Model.Customer.MembershipType.DiscountRate) / 100 )</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="footer" class="p-4">
                        <div class="py-3 px-5 text-center">
                            <p class="text-white pt-3 pb-3">If you have any questions concerning this invoice, please contact with us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/lib")
@Scripts.Render("~/Content/css")
@*
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css"/>
*@
<link rel="stylesheet" type="text/css" href="~/Content/Invoice/style.css">


