﻿@using System.Web.UI.WebControls
@model IEnumerable<Transportation_Company.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <h2>Orders</h2>
        <hr/>
        <p class="btn btn-warning" style="text-decoration: none; color: white;"><i class="glyphicon glyphicon-book"></i> @Html.ActionLink("New order", "NewOrder", "Orders", null, new {@class = "", style = "text-decoration: none; color: white;"})</p>
    </div>

    <div class="col-md-4">
       
    </div>

    <div class="col-md-4">
        
    </div>


</div>



<br/>
@if (!Model.Any())
{
    <p>We don't have any orders yet.</p>

    <p class="btn btn-warning" style="text-decoration: none; color: white;"><i class="glyphicon glyphicon-book"></i> @Html.ActionLink("New order", "NewOrder", "Orders", null, new {@class = "", style = "text-decoration: none; color: white;"})</p>

}
else
{



    <table id="orders" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Order #</th>
            <th>Tracking Number</th>
            <th>Pickup</th>
            <th>Delivery</th>
            <th>Customer</th>
            <th>ShippingType</th>
            <th>Order Status</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                       @order.Id
                    </td>
                    <td>
                        @order.TrackingNumber
                    </td>
                    <td>
                        @order.PickUpLocation,<br/> @order.PickUpDate
                    </td>
                    <td>
                        @order.DeliveryLocation,<br/> @order.DeliveryDate
                    </td>
                    <td>@order.Customer.CompanyName<br/>@order.Customer.Address, @order.Customer.City, @order.Customer.ZipCode, @order.Customer.Country</td>
                    <td>
                        @order.ShippingType.Name, <br/>@order.ShippingType.Duration days
                    </td>
                    <td>
                        @order.OrderStatus.Name
                    </td>
                    <td>
                        @order.ApplicationUser.FirstName @order.ApplicationUser.LastName
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Details", "Orders", new { id = order.Id }, new { @class = "glyphicon glyphicon-file text-success" }) |
                        @Html.ActionLink(" ", "Edit", "Orders", new { id = order.Id }, new { @class = "glyphicon glyphicon-edit text-primary" }) |
                        @Html.ActionLink(" ", "GenerateInvoice", "Orders", new {id = order.Id}, new { @class = "glyphicon glyphicon-print text-warning" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}




@section scripts
{
   
    <script>
        $(document).ready(function() {
            $("#orders").DataTable();
        })
    </script>
}