﻿@model IEnumerable<Transportation_Company.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<div class="dashboard">
    <div class="row container-2">
        <div class="col-md-3">
            <div class="card-counter primary">
                <img src="~/Content/ApplicationAdminIcons/593 - Users.svg" />
                <span class="count-title">Most Valued Customer</span>
                <span class="count-numbers">@ViewBag.MostValuedCustomer</span>
                <span class="count-name">with @ViewBag.MvpOrdersTotal orders</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter danger">
                <img src="~/Content/ApplicationAdminIcons/598 - Support.svg" />
                <span class="count-title">The best Broker</span>
                <span class="count-numbers">@ViewBag.TheBestBrokerFullName</span>
                <span class="count-name">with @ViewBag.NumberOfBestBrokersOrders orders</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter success">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5118 - Loaded Truck.svg" />
                <span class="count-title">Vehicles</span>
                <span class="count-numbers">@ViewBag.VehiclesCount in total</span>
                <span class="count-name">@ViewBag.TrucksCount trucks | @ViewBag.TrailersCount trailers</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter info">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5103 - Package I.svg" />
                <span class="count-title">Orders</span>
                <span class="count-numbers">@ViewBag.OrdersOverallCount in total</span>
                <span class="count-name">@ViewBag.DeliveredOrders Delivered</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-body panel-default">
                            <h3>Users</h3>
                            <hr />
                            <h3>@ViewBag.UsersTotal users</h3>
                            <h4>@ViewBag.ActiveUsersTotal active users</h4>
                            <h4>@ViewBag.BlockedUsersTotal blocked users</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-body panel-default">
                            <h3>Trips</h3>
                            <hr />
                            <h3>@ViewBag.TripTotal trips</h3>
                            <h4>@ViewBag.TripsNotFinished active trips</h4>
                            <h4>@ViewBag.TripsFinished finished trips</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body panel-default">
                            <h3>Most used</h3>
                            <hr />
                            <h4>Most used trailer is: <strong>@ViewBag.MostUsedTrailerInTripsFullName</strong> </h4>
                            <h4>Most travelling driver is: <strong>@ViewBag.TopDriverName</strong></h4>
                            <h4>Top announcer: <strong>@ViewBag.TopAnnouncerName</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel" style="height: 350px;">
                        <div class="panel-body panel-default">
                            <h4><strong>Active users</strong></h4>
                            <table id="activeUsers" class="table table-bordered table-hover">
                                <thead class="text-center">
                                <tr>
                                    <th style="text-align: left;">First name</th>
                                    <th style="text-align: left;">Last name</th>
                                    <th style="text-align: left;">Birthdate</th>
                                    <th style="text-align: left;">E-mail</th>
                                    <th style="text-align: left;">Address</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.FirstName</td>
                                        <td>@user.LastName</td>
                                        <td>@user.BirthDate.ToShortDateString()</td>
                                        <td>@user.Email</td>
                                        <td>@user.HouseNumber, @user.StreetName, @user.AptNumber, @user.City</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            
                        </div>
                        </div>
                        </div>
                <div class="col-md-4">
                    <div class="panel" style="height: 350px;">
                        <div class="panel-body panel-default">
                            <div class="dash-box dash-box-color-1">
                                <div class="dash-box-icon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <div class="dash-box-body">
                                    <span class="dash-box-count">@ViewBag.AnonSubject</span>
                                    <span class="dash-box-title">@ViewBag.AnonMessage</span>
                                </div>
                                <div class="dash-box-action">
                                    <span class="dash-box-signature">@ViewBag.AnonAuthor | @ViewBag.AnonCreatedOn</span>
                                </div>
                            </div>
                        </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homestyle.css" />
    
    <script>
        $(document).ready(function() {
            $('#activeUsers').DataTable({
                scrollY: 150,
                paging: false,
                info: false,
                scrollCollapse: true
            });
        });
    </script>

}