﻿@model IEnumerable<Transportation_Company.Models.Order>
@{
    ViewBag.Title = "Index";
}

<div class="dashboard">
    <div class="row container-2">
        <div class="col-md-3">
            <div class="card-counter primary">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5150 - Hand Over Package.svg"/>
                <span class="count-title">Most Valued Customer</span>
                <span class="count-numbers">@ViewBag.MostValuedCustomer</span>
                <span class="count-name">@ViewBag.MvpOrdersTotal orders</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter danger">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5149 - Agent.svg"/>
                <span class="count-title">The best Broker</span>
                <span class="count-numbers">@ViewBag.TheBestBrokerFullName</span>
                <span class="count-name">@ViewBag.NumberOfBestBrokersOrders orders</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter success">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5113 - Secure Package.svg"/>
                <span class="count-title">Orders</span>
                <span class="count-numbers">@ViewBag.OrdersTotal in total</span>
                <span class="count-name">@ViewBag.BrokersOrdersTotal mine</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter info">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5132 - Reaching Destination.svg"/>
                <span class="count-title">Packages</span>
                <span class="count-numbers">@ViewBag.DeliveredOrdersNumber delivered</span>
                <span class="count-name">@ViewBag.OnWayOrders on way</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                
                <div class="col-md-8">
                    <div class="panel" style="height: 350px;">
                        <div class="panel-body panel-default">
                            <h4>Waiting for assigning to trip</h4>
                            <table id="ordersToAssign" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Author</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var order in Model)
                                {
                                    <tr>
                                        <td>@order.Id</td>
                                        <td>@order.PickUpLocation, @order.PickUpDate</td>
                                        <td>@order.DeliveryLocation, @order.DeliveryDate</td>
                                        <td>@order.ApplicationUser.FirstName @order.ApplicationUser.LastName</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                        </div>
                </div>
                <div class="col-md-4">
                    
                        <div class="panel" style="height: 350px;">
                            <div class="panel-body panel-default">
                                <div class="dash-box dash-box-color-1">
                                    <div class="dash-box-icon">
                                        <i class="glyphicon glyphicon-envelope"></i>
                                    </div>
                                    <div class="dash-box-body">
                                        <span class="dash-box-count">@ViewBag.AnonSubject</span>
                                        <span class="dash-box-title">@ViewBag.AnonMessage</span>
                                    </div>
                                    <div class="dash-box-action">
                                        <span class="dash-box-signature">@ViewBag.AnonAuthor | @ViewBag.AnonCreatedOn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
          </div>
    </div>
</div>


@section scripts {
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/style.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homestyle.css"/>
    <script>
        $(document).ready(function() {
            $('#ordersToAssign').DataTable({
                scrollY: 250,
                paging: false,
                scrollCollapse: true,
                searching: false,
                info: false
            });
        });
    </script>
}