﻿body {
    background: url("Background.svg");
    height: 100vh;
    background-size: cover;

}

.dashboard {
    margin-top: 40px;
    margin-bottom: 80px;
}

.container-2 {
    margin-bottom: 40px;
}
.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.primary {
    background-color: #007bff;
    color: #ffffff;
}

.card-counter.danger {
    background-color: #ef5350;
    color: #ffffff;
}

.card-counter.success {
    background-color: #66bb6a;
    color: #ffffff;
}

.card-counter.info {
    background-color: #26c6da;
    color: #ffffff;
}

.card-counter img {
    height: 80px;
    width: 80px;
    opacity: 0.2;
}

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 30px;
    font-size: 22px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.9;
    display: block;
    font-size: 18px;
}

.card-counter .count-title {
    position: absolute;
    right: 35px;
    top: 9px;
    display: block;
    font-size: 14px;
    opacity: 0.7;
}