﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: CabinRegular;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inputs-for-contact {
    
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid red;
}


td.details-control {
    background: url(../Content/DataTables/images/details_open.png) no-repeat center center !important;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url("../Content/DataTables/images/details_close.png") no-repeat center center !important;
}



@font-face {
    font-family: CabinBold;
    src: url(/Content/Fonts/Cabin/Cabin-Bold.ttf);
}

@font-face {
    font-family: CabinRegular;
    src: url(/Content/Fonts/Cabin/Cabin-Regular.ttf);
}