﻿@model Transportation_Company.Models.Announcment
@{
    ViewBag.Title = "Announcment Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Announcement</h2>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Save", "Announcments"))
        {
            <div class="form-group">
                @Html.LabelFor(o => o.Subject)
                @Html.TextBoxFor(o => o.Subject, new {Title = "Do not use too long titles. It may look bad!", @class = "form-control", id = "subject", autofocus = ""})
                @Html.ValidationMessageFor(o => o.Subject)
            </div>
            <div class="form-group">
                @Html.LabelFor(o => o.Message)
                @Html.TextBoxFor(o => o.Message, new {@class = "form-control", id = "message"})
                @Html.ValidationMessageFor(o => o.Message)
            </div>
            @Html.HiddenFor(o => o.Id)
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
    <div class="col-md-3" style="border-right: 1px solid #000;">
        
    </div>
    <div class="col-md-4">
        <h3>Announcement preview</h3>
        <hr/>
        <div class="dash-box dash-box-color-1" id="preview">
            <div class="dash-box-icon">
                <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <div class="dash-box-body">
                <span class="dash-box-count" id="displaySubject"></span>
                <span class="dash-box-title" id="displayMessage"></span>
            </div>
            <div class="dash-box-action">
                <p class="dash-box-signature">Your name | @DateTime.Now</p>
            </div>				
        </div>
    </div>
    <div class="col-md-1"></div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homestyle.css"/>
    
    <script>
        $(document).ready(function() {
            // $('#preview').hide();
            $('#preview').slideDown('slow');
            $('#subject').keypress(update);
            $('#message').keypress(update);

            $('[title]').tooltip({
                placement: "right",
                trigger: "focus"
            });



        });

        function update() {
          //  $('#preview').slideDown('slow');
            var subject = $("#subject").val();
            var message = $("#message").val();

            $('#displaySubject').html(subject);
            $('#displayMessage').html(message);
            

        }
    </script>
}
