﻿@model Transportation_Company.Models.Announcment
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details - @Model.Subject | @Model.CreatedOn</h2>

<div class="row">
    <div class="col-md-4">
        <h3>Announcement</h3>
        <hr/>
        <p><strong>Author:</strong> @Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</p>
        <p><strong>Author's email:</strong> @Model.ApplicationUser.Email</p>
        <p><strong>Posted on:</strong> @Model.CreatedOn</p>
        <p><strong>Subject:</strong> @Model.Subject</p>
        <p><strong>Message:</strong> @Model.Message</p>
    </div>
    <div class="col-md-3" style="border-right: 1px solid #000;">
        
    </div>
    <div class="col-md-4">
        <h3>Preview</h3>
        <hr/>
        <div class="dash-box dash-box-color-1">
            <div class="dash-box-icon">
                <i class="glyphicon glyphicon-envelope"></i>
            </div>
            <div class="dash-box-body">
                <span class="dash-box-count">@Model.Subject</span>
                <span class="dash-box-title">@Model.Message</span>
            </div>
            <div class="dash-box-action">
                <span class="dash-box-signature">@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName | @Model.CreatedOn</span>
            </div>				
        </div>
    </div>
    <div class="col-md-1">
        
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Edit", "EditAnnouncment", "Announcments", new { id = Model.Id }, new {@class = "btn btn-warning", style = "text-decoration:none; color:white;"})
        <button type="button" class="btn btn-info" onclick="history.go(-1); return false;" href="#">Back</button>
    </div>
    <div class="col-md-9"></div>
</div>



@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homestyle.css"/>
}
