﻿@using Transportation_Company.Models
@model IQueryable<Announcment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Announcments</h2>
@if (!Model.Any())
{
    <p>There are no announcements yet.</p>
    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New announcment", "NewAnnouncment", "Announcments", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>
}
else
{
    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New announcment", "NewAnnouncment", "Announcments", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>
    <table id="announs" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Author</th>
                <th>Created on</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var anno in Model)
            {
                <tr>
                    <td>@anno.Id</td>
                    <td>@anno.Subject</td>
                    <td>@anno.Message</td>
                    <td>@anno.ApplicationUser.FirstName @anno.ApplicationUser.LastName</td>
                    <td>@anno.CreatedOn</td>
                    <td>
                        @Html.ActionLink(" ", "Details", "Announcments", new {id = anno.Id}, new {@class = "glyphicon glyphicon-file text-primary"})
                        @Html.ActionLink(" ", "EditAnnouncment", "Announcments", new {id = anno.Id}, new {@class = "glyphicon glyphicon-edit text-warning"})
                        @*
            <button data-make-id="@make.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                        *@
                    </td>
                </tr>
            }

        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
           // var table =
                $("#announs").DataTable();

           /* $("#makes").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this Make?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/makes/" + button.attr("data-make-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });*/
        });
    </script>
}
