﻿@model Transportation_Company.ViewModels.DriverTruckAndTripsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}

<div class="dashboard">
    <div class="row container-2">
        <div class="col-md-3">
            <div class="card-counter primary">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5118 - Loaded Truck.svg" />
                <span class="count-title">My active trips</span>
                <span class="count-numbers">@ViewBag.MyActiveTripsTotal</span>
                <span class="count-name"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter danger">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5132 - Reaching Destination.svg" />
                <span class="count-title">My finished trips</span>
                <span class="count-numbers">@ViewBag.MyFinishedTripsTotal</span>
                <span class="count-name"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter success">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5129 - Delivery Checklist.svg" />
                <span class="count-title">My trips in total</span>
                <span class="count-numbers">@ViewBag.MyTripsTotal</span>
                <span class="count-name"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-counter info">
                <img src="~/Content/ApplicationTransportIcons/GreyGlyphs/5112 - Delivery Car.svg" />
                <span class="count-title">My truck</span>
                <span class="count-numbers">From: @(Model.Rental == null ? "" : Model.Rental.DateRented.ToShortDateString())</span>
                <span class="count-name">@(Model.Truck == null ? "" : @Model.Truck.TruckFullName)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel" style="height: 350px;">
                        <div class="panel-body panel-default">
                    <h3 class="text-center">Finished trips</h3>
                    @if (!Model.FinishedTrips.Any())
                    {
                        <p class="text-center">There are no trips ever done yet. Ask your broker to get some work!</p>
                    }
                    else
                    {
                        <table id="finishedTrips" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Order</th>
                                <th>Trailer</th>
                                <th>Started</th>
                                <th>Finished</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var finished in Model.FinishedTrips)
                            {
                                <tr>
                                    <td>@finished.Id</td>
                                    <td>@finished.Order.FullNaming</td>
                                    <td>@finished.Trailer.TrailerFullName</td>
                                    <td>@finished.TripStarted</td>
                                    <td>@finished.TripFinished</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    
                </div>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="panel" style="height: 350px;">
                        <div class="panel-body panel-default">
                            <div class="dash-box dash-box-color-1">
                                <div class="dash-box-icon">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </div>
                                <div class="dash-box-body">
                                    <span class="dash-box-count">@ViewBag.AnonSubject</span>
                                    <span class="dash-box-title">@ViewBag.AnonMessage</span>
                                </div>
                                <div class="dash-box-action">
                                    <span class="dash-box-signature">@ViewBag.AnonAuthor | @ViewBag.AnonCreatedOn</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/HomePage/homestyle.css" />
    
    <script>
        $(document).ready(function() {
            $('#finishedTrips').DataTable({
                scrollY: 300,
                scrollCollapse: true,
                info: false,
                paging: false,
                searching: false
            });
        });
    </script>

}
