﻿@using Microsoft.Ajax.Utilities
@model Transportation_Company.Models.Rental
@{
    ViewBag.Title = "My Truck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Truck</h2>
<hr/>
@if (Model == null)
{
    <p>There is no truck assigned yet. Ask your manager for a new truck!</p>
}

<div class="row">
    <div class="col-md-6">
        <h4>You are driving:@(Model.Truck == null ? "You have no truck assigned!" : @Model.Truck.TruckFullName)</h4>
        <h5>License Plate: @(Model.Truck == null ? "" : @Model.Truck.LicencePlate)</h5>
        <h5>Production year: @(Model.Truck == null ? 0 : @Model.Truck.YearOfProduction)</h5>
        <h5>Engine: @(Model.Truck == null ? 0 : @Model.Truck.Engine)</h5>
        <h5>Lifting capacity: @(Model.Truck == null ? 0 : @Model.Truck.LiftingCapacity)</h5>

    </div>
    <div class="col-md-6">
        <div>
            <p class="btn btn-danger" style="text-decoration: none; color: white;">@Html.ActionLink("Request maintenance", "MaintainTruck", "Trucks", new {id = Model.Truck.Id}, new { style = "text-decoration: none; color: white;" })</p>
            <p class="btn btn-info" style="text-decoration: none; color: white;">@Html.ActionLink("Update mileage", "UpdateTruckMileage", "Trucks", new {id = Model.Truck.Id}, new { style = "text-decoration: none; color: white;" })</p>
        </div>
    </div>
</div>


