﻿@model Transportation_Company.ViewModels.DriverTripsViewModel
@{
    ViewBag.Title = "My Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">My Trips</h2>
<hr/>


<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">Active trips</h3>
        @if (!Model.ActiveTrips.Any())
        {
            <p class="text-center">There are no active trips.</p>
        }
        else
        {
            <table id="activeTrips" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Order</th>
                    <th>Trailer</th>
                    <th>Started</th>
                    <th>Update status</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var active in Model.ActiveTrips)
                    {
                        <tr>
                            <td>@active.Id</td>
                            <td>@active.Order.FullNaming</td>
                            <td>@active.Trailer.TrailerFullName</td>
                            <td>@active.TripStarted</td>
                            <td>@Html.ActionLink(" ", "UpdateTripStatusForm", "Trips", new {id = active.Id}, new {@class = "glyphicon glyphicon-edit"})</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Finished trips</h3>
        @if (!Model.FinishedTrips.Any())
        {
            <p class="text-center">There are no trips ever done yet. Ask your broker to get some work!</p>
        }
        else
        {
            <table id="finishedTrips" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Order</th>
                    <th>Trailer</th>
                    <th>Started</th>
                    <th>Finished</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var finished in Model.FinishedTrips)
                {
                    <tr>
                        <td>@finished.Id</td>
                        <td>@finished.Order.FullNaming</td>
                        <td>@finished.Trailer.TrailerFullName</td>
                        <td>@finished.TripStarted</td>
                        <td>@finished.TripFinished</td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#activeTrips').DataTable();

            $('#finishedTrips').DataTable();
        });
    </script>
}
