body {
    background: grey;
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 14px;
    font-family: CabinRegular;
    color: #47576E;
}

#top-container, #footer {
  background-color: #14122E;
}

.card-body {
  background-color: #F7F9FF;
}

.header {
  font-size: 18px;
  font-weight: 200;
  color: #0E1531;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.bordered-table {
  border: 4px solid #F7F9FF;
  border-collapse: collapse;
  border-spacing: 0;
}

.bordered-table thead th {
  background-color: rgba(35, 148, 251, 0.18);
  border-bottom: 4px solid #F7F9FF;
  padding: 30px;
  text-align: left;
  color: #2394FB;
}

.bordered-table tbody td {
    padding: 30px;
}

.table-rounded {
    border: none;
}

.table-rounded thead th {
    background-color: rgba(35, 148, 251, 0.1);
    border: none;
}

.table-rounded thead th:first-child {
    border-radius: 15px 0 0 0;
}

.table-rounded thead th:last-child {
    border-radius: 0 15px 0 0;
}

.table-rounded tbody td {
    border: none;
    border-bottom: 2px solid #F7F9FF;
    background-color: #FFF;
    font-size: 14px;
}

.table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 15px;
}
.table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
}

.table thead th {
  font-size: 16px;
  font-weight: 200;
}

.text-blue {
  font-size: 14px;
  color: #2394FB;
}

.text-white {
  font-size: 14px;
  color: #fff;
}

.text-summary {
  font-size: 16px !important;
  font-weight: 200;
  color: #2394FB;
}


@font-face {
  font-family: CabinBold;
  src: url(Cabin/Cabin-Bold.ttf);
}

@font-face {
  font-family: CabinRegular;
  src: url(Cabin/Cabin-Regular.ttf);
}
