body {
  background-image: url("Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
  line-height: 1.42857143;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  margin-top: 80px;
  margin-bottom: 80px;
}

#text-p {
  color: #47576E;
  font-size: 18px;
  font-weight: 400;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 6px 60px rgba(35, 148, 251, 0.5);
}

.card .message-icon {
  padding: 40px;
}
