﻿@model Transportation_Company.Models.TruckType

@{
    ViewBag.Title = "Edit Truck Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Truck Type</h2>
@using (Html.BeginForm("Save", "TruckTypes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)

    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}