﻿@using Transportation_Company.Models
@model System.Data.Entity.DbSet<TruckType>
@{
    ViewBag.Title = "List of truck types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <h2>List of truck types</h2>
        @if (!Model.Any())
        {
            <p>There are no trailer types.</p>
   @* <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New truck type", "NewTruckType", "TruckTypes", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>*@
        }
        else
        {
   @* <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New truck type", "NewTruckType", "TruckTypes", null, new { style = "color:white; text-decoration:none;" })</p>
    </div>*@
            <table id="truckTypes" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var truckType in Model)
                {
                    <tr>
                        <td>@truckType.Name</td>
                        @* <td>@Html.ActionLink(truckType.Name, "Details", "TruckTypes", new { id = truckType.Id }, null)</td>*@
                        <td>@truckType.Description</td>
                        <td>
                            @Html.ActionLink(" ", "Edit", "TruckTypes", new {id = truckType.Id}, new {@class = "glyphicon glyphicon-edit text-primary"})
                            <button data-truckType-id="@truckType.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        }
    </div>
    <div class="col-md-4">
        <h2 class="mt-3" style="margin-top: 50px;">Create new truck type</h2>
        @Html.Partial("_NewTruckTypePartial", new TruckType())
    </div>
</div>




@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            @if (TempData.ContainsKey("Created"))
             {
                 @:toastr.success("New truck type added!");
                 TempData.Remove("Created");
             }

            $("#truckTypes").on("click", ".js-delete",
                function () {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this Truck Type?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/truckTypes/" + button.attr("data-truckType-id"),
                                    method: "DELETE",
                                    success: function () {
                                        button.parents("tr").remove();
                                        toastr.error("Truck type deleted!");

                                    }
                                });
                            }
                        });
                });
        });
    </script>
}


