﻿@model Transportation_Company.Models.TruckType
@{
    ViewBag.Title = "New truck type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New truck type</h2>
@using (Html.BeginForm("Create", "TruckTypes"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)

    </div>
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-success">Create</button>
    <button type="reset" class="btn btn-warning">Reset</button>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}