
body {
    background-image: url("Background-4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: CabinRegular;
    font-size: 14px;
    line-height: 1.42857143;
}

.card {
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 6px 48px rgba(79, 186, 251, 0.4);

}

.header-text {
    margin-bottom: 80px;
}

.section {
    margin-top: 120px;
    margin-bottom: 120px;
}



.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

input[type="text"],
input[type="email"],
textArea[id="textArea"],
select.form-control {
    
    background: transparent;
    border: none;
    border-bottom: 1px solid #E4E1E1;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textArea[id="textArea"]:focus,
select.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #0c73da;
}

.form-button {
    background-color: #0C73DA;
    border-radius: 30px;
    box-shadow: 0px 6px 48px rgba(12, 115, 218, 0.4);
    padding: 20px;
    color: #fff !important;
    padding: 15px 60px 15px 60px !important;
    text-transform: uppercase;
    font-size: 12px;
    margin: 4px 2px;
}

h1 {
    color: #121628;
    font-family: CabinBold;
    font-size: 26px;
}

h6 {
    color: #2394FB;
    font-family: CabinBold;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


@font-face {
    font-family: CabinBold;
    src: url(/Content/Fonts/Cabin/Cabin-Bold.ttf);
}

@font-face {
    font-family: CabinRegular;
    src: url(/Content/Fonts/Cabin/Cabin-Regular.ttf);
}








