﻿@model Transportation_Company.ViewModels.TripViewModel

@using (Html.BeginForm("Create", "Trips"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Trip.TrailerId, new { @class = "control-label", style = "display:block;" })
                @Html.DropDownListFor(m => m.Trip.TrailerId, new SelectList(Model.Trailers, "Id", "TrailerFullName"), "Select Trailer", new { @class = "form-control", id = "trailersList" })
                @Html.ValidationMessageFor(m => m.Trip.TrailerId)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Trip.ApplicationUserId, new { @class = "control-label", style = "display:block;" })
                @Html.DropDownListFor(m => m.Trip.ApplicationUserId, new SelectList(Model.ApplicationUsers, "Id", "FullNameWithBirthDate"), "Select Driver", new { @class = "form-control", id = "driversList" })
                @Html.ValidationMessageFor(m => m.Trip.ApplicationUserId)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.Trip.OrderId, new { @class = "control-label", style = "display:block;" })
                @Html.DropDownListFor(m => m.Trip.OrderId, new SelectList(Model.Orders, "Id", "FullNaming"), "Select Order", new { @class = "form-control", id = "ordersList" })
                @Html.ValidationMessageFor(m => m.Trip.OrderId)
            </div>
        </div>
        @Html.AntiForgeryToken()
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
        <div class="col-md-8"></div>
    </div>
}
