﻿@using Transportation_Company.Models
@using Transportation_Company.ViewModels
@model Transportation_Company.ViewModels.NewPartialTripViewModel


@*@model List<Transportation_Company.Models.Trip>*@
@{
    ViewBag.Title = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="mt-3" style="margin-top: 20px;">Create new trip</h2>
        @Html.Partial("_NewTripPartial", new TripViewModel
        {
            Trip = new Trip(),
            Trailers = Model.Trailers,
            ApplicationUsers = Model.ApplicationUsers,
            Orders = Model.Orders
        })
    </div>
</div>
<hr/>
<h3 class="mt-3" style="margin-top: 20px;">Trips list</h3>
<table id="trips" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Trip #</th>
        <th>Trailer</th>
        <th>Driver</th>
        <th>Order</th>
        <th>Start date</th>
        <th>Finish date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var trip in Model.Trips)
    {
        <tr>
            <td>@trip.Id</td>
            <td>@Html.ActionLink(trip.Trailer.TrailerFullName, "Details", "Trailers", new { id = trip.TrailerId }, null)</td>
            <td>@Html.ActionLink(trip.ApplicationUser.FullNameWithBirthDate, "Details", "Users", new { id = trip.ApplicationUserId }, null)</td>
            <td>@Html.ActionLink(trip.Order.FullNaming, "Details", "Orders", new { id = trip.OrderId }, null)</td>
            <td>@trip.TripStarted</td>
            <td>@trip.TripFinished</td>
            <td>
                @Html.ActionLink(" ", "FinishTrip", "Trips", new { id = trip.Id }, new { @class = "glyphicon glyphicon-flag text-success" })
            </td>
        </tr>
    }

    </tbody>
</table>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var table = $("#trips").DataTable();

            @if (TempData.ContainsKey("Success"))
            {
                @:toastr.success("New trip added!");
                TempData.Remove("Success");
            }

            @if (TempData.ContainsKey("Finished"))
              {
                  @:toastr.warning("Trip finished! Order status changed to 'Delivered'.");
                  TempData.Remove("Finished");
              }

            $('#ordersList').chosen();
            $('#driversList').chosen();
            $('#trailersList').chosen();

            });
    </script>
}