﻿
@{
    ViewBag.Title = "InvalidAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <section class="error-page">
        <div class="mx-auto text-center">
            <img src="/Content/ApplicationTransportIcons/InvertedGlyphs/5116 - Broken.svg" height="250">
            <p class="mt-5">Invalid action. The requirements for this action are not fullfiled.</p>
            <button type="button" onclick="history.go(-1)" class="btn btn-primary form-button mt-5"><a href="#">Take me back</a></button>
        </div>
    </section>

</div>


@section scripts
{
    <link rel="stylesheet" type="text/css" href="/Error/NoAccess/main.css">

}
