﻿@model Transportation_Company.ViewModels.DriverUpdateTripStatusViewModel
@{
    ViewBag.Title = "Update Trip Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Update Trip Status | Trip #@Model.Trip.Id | Trip started: @Model.Trip.TripStarted</h2>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h3>This trip belongs to: @Model.Trip.ApplicationUser.FirstName @Model.Trip.ApplicationUser.LastName</h3>
        <p><strong>Start point: </strong>@Model.Trip.Order.PickUpLocation, @Model.Trip.Order.PickUpDate</p>
        <p><strong>End point: </strong>@Model.Trip.Order.DeliveryLocation, @Model.Trip.Order.DeliveryDate</p>
        <hr/>
        <p>Make sure you have trailer: #<strong>@Model.Trip.Trailer.TrailerFullName</strong></p>
        <hr/>
        <p>If you just set Trip status to <strong class="text-danger">Delivered</strong>, you can hit the button below.</p>
        @Html.HiddenFor(m => Model.Trip.Id)
        @Html.ActionLink("Finish trip", "FinishTrip", "Trips", new {id = Model.Trip.Id}, new {@class="btn btn-success"})
    </div>
    <div class="col-md-4">
        <h3>Select new status from the list</h3>
        @using (Html.BeginForm("UpdateTripStatus", "Trips"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Trip.TripStatusId)
                @Html.DropDownListFor(m => m.Trip.TripStatusId, new SelectList(Model.TripStatuses, "Id", "Name"), "Select Status", new {@class = "form-control", id = "tripStatuses"})
                @Html.ValidationMessageFor(m => m.Trip.TripStatusId)
            </div>
            @Html.HiddenFor(m => m.Trip.Id)
            <button type="submit" class="btn btn-success">Update</button>
            <button class="btn btn-primary" onclick="history.back();">Back</button>

        }
    </div>
    <div class="col-md-2"></div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/jqueryval");
}
