﻿@model Transportation_Company.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var base64 = Convert.ToBase64String(Model.ProfilePicture);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<h2>Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName | @Model.Email</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StreetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StreetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HouseNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HouseNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AptNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AptNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DrivingLicense)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DrivingLicense)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProfilePicture)
                </dt>

                <dd>
                    <img src="@imgSrc" height="48" width="48" style="background-color: white; border-radius: 50%; border: 1px solid white;" alt="User profile picture." />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateRegistered)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateRegistered)
                </dd>

            </dl>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img src="@imgSrc" alt="User profile picture." />
                </div>
                <div class="info">
                    <div class="title">
                        <p>@Model.FirstName @Model.LastName</p>
                    </div>
                    <div class="desc">@Model.Email</div>
                    <div class="desc">@Model.City</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-warning btn-sm" rel="publisher" href="#">
                        <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
            
            
            

            @*            <div class="text-center" style="border: 1px solid black; border-radius: 5px;">
                <img src="@imgSrc" height="250" width="250" style="background-color: white; border-radius: 50%; border: 1px solid white;" alt="User profile picture." />
                <h3>@Model.FirstName @Model.LastName</h3>
                <h4>@Model.City</h4>
            </div>*@
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "UserEdit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "UsersList", new { @class = "btn btn-primary" })
</p>

@section scripts
{
    <link rel="stylesheet" type="text/css" href="~/Content/CustomStyles/userDetails.css"/>
}
