﻿@model IEnumerable<Transportation_Company.Models.ApplicationUser>
@{
    ViewBag.Title = "DriversList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drivers List</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>E-mail</th>
            <th>First name</th>
            <th>Last name</th>
            <th>DL#</th>
            <th>Address</th>
            <th>Enabled?</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.ActionLink(user.Email, "Details", "Users", new { id = user.Id }, null)</td>
                <td>@Html.DisplayFor(model => user.FirstName)</td>
                <td>@Html.DisplayFor(model => user.LastName)</td>
                <td>@Html.DisplayFor(model => user.DrivingLicense)</td>
                <td>@Html.DisplayFor(model => user.HouseNumber) @Html.DisplayFor(model => user.StreetName), @Html.DisplayFor(model => user.ZipCode), @Html.DisplayFor(model => user.City)</td>
                <td>@Html.DisplayFor(model => user.IsEnabled)</td>
                <td>
                    @Html.ActionLink(" ", "UserEdit", "Users", new { id = user.Id }, new { @class = "glyphicon glyphicon-edit text-primary" }) |
                    @Html.ActionLink(" ", "UserDelete", "Users", new { id = user.Id }, new { @class = "glyphicon glyphicon-remove text-danger" }) |
                    @Html.ActionLink(" ", "BlockUser", "Users", new { id = user.Id }, new { @class = "glyphicon glyphicon-remove-sign text-warning" }) |
                    @Html.ActionLink(" ", "UnblockUser", "Users", new { id = user.Id }, new { @class = "glyphicon glyphicon-ok-sign text-success" })

                </td>
            </tr>
        }

    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#users").DataTable();
        });
    </script>
}
