﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

@if (ViewBag.displayMenu == "Yes")
{
    <h3>Welcome Admin!</h3>
    <h3>
       $1$*<li>@Html.ActionLink("Manage Role", "Index", "Role")</li>#1#
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
}  


