﻿@model Transportation_Company.Models.ApplicationUser

@{
    ViewBag.Title = "Unblock User";
}

<h2>Unblock User: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <p>Are you sure you want to unblock this user?</p>

    <input type="submit" class="btn btn-warning" value="Unblock"/>
}

