﻿@model Transportation_Company.Models.ApplicationUser
@{
    ViewBag.Title = "User Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit user: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)


    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new {Title = "E-mail is also an username.", @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BirthDate)
        @Html.TextBoxFor(m => m.BirthDate, new {@class = "form-control date-picker"})
        @Html.ValidationMessageFor(m => m.BirthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber, new {@class = "form-control phoneNumber-mask"})
        @Html.ValidationMessageFor(m => m.PhoneNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DrivingLicense)
        @Html.TextBoxFor(m => m.DrivingLicense, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.DrivingLicense)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StreetName)
        @Html.TextBoxFor(m => m.StreetName, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.StreetName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HouseNumber)
        @Html.TextBoxFor(m => m.HouseNumber, new {@class = "form-control houseNumber-mask"})
        @Html.ValidationMessageFor(m => m.HouseNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AptNumber)
        @Html.TextBoxFor(m => m.AptNumber, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.AptNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode)
        @Html.TextBoxFor(m => m.ZipCode, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.ZipCode)
    </div>

    <input type="submit" class="btn btn-primary" value="Update"/>
    <button class="btn btn-primary" onclick="history.back();">Back</button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $('.date-picker').datepicker({ format: "mm/dd/yyyy", autoclose: true });


            $('.phoneNumber-mask').mask('(000)-000-0000', {placeholder:"(773)-777-1234"});
            $('.houseNumber-mask').mask('0000', {placeholder:"5600"});
         
            $('[title]').tooltip({
                placement: "right",
                trigger: "focus"
            });
        });
    </script>
}