﻿@model Transportation_Company.Models.ApplicationUser
@{
    ViewBag.Title = "UserDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>User marked for deletion</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)

    <p>E-mail: @Html.DisplayFor(model => model.Email)</p>
    <p>First name: @Html.DisplayFor(model => model.FirstName)</p>
    <p>Last name: @Html.DisplayFor(model => model.LastName)</p>
    <p>Phone number: @Html.DisplayFor(model => model.PhoneNumber)</p>
    <p>Registration date: @Html.DisplayFor(model => model.DateRegistered)</p>
    <p>Blocked: @Html.DisplayFor(model => model.LockoutEnabled)</p>


    <p>Are you sure you want to delete this user? Make sure this user has no related data like: orders or trucks assigned!</p>
    <input type="submit" class="btn btn-danger" value="Delete"/>
   // <button class="btn btn-primary" onclick="history.back();">Back</button>
    <button class="btn btn-primary">@Html.ActionLink("Back", "UsersList", "Users", new {style ="text-decoration: none; color: white;"})</button>
}


@section scripts
{
    <script>
        $(document).ready(function() {

            bootbox.alert({
               title: "Check user before deletion.",
               message: "Do not delete this user if it has at least one order, trip or truck assigned! Instead of deleting - block this user."
            });

        });
    </script>
}
