﻿@model List<Transportation_Company.ViewModels.UsersRolesViewModel>
@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users List</h2>

<div class="row" style="margin-bottom: 10px;">
    <p class="btn btn-success">@Html.ActionLink("New user", "Register", "Account", null, new { style = "color:white; text-decoration:none;" })</p>
</div>
<table id="users" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>E-mail</th>
        <th>First name</th>
        <th>Last name</th>
        <th>DL#</th>
        <th>Address</th>
        <th>Role</th>
        <th>Enabled?</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@Html.ActionLink(user.User.Email, "Details", "Users", new { id = user.User.Id }, null)</td>
            <td>@Html.DisplayFor(model => user.User.FirstName)</td>
            <td>@Html.DisplayFor(model => user.User.LastName)</td>
            <td>@Html.DisplayFor(model => user.User.DrivingLicense)</td>
            <td>@Html.DisplayFor(model => user.User.HouseNumber) @Html.DisplayFor(model => user.User.StreetName), @Html.DisplayFor(model => user.User.ZipCode), @Html.DisplayFor(model => user.User.City)</td>
            <td>@Html.DisplayFor(model => user.Roles)</td>
            <td>@Html.DisplayFor(model => user.User.IsEnabled)</td>
            <td>
                @Html.ActionLink(" ", "UserEdit", "Users", new { id = user.User.Id }, new { @class = "glyphicon glyphicon-edit text-primary" }) |
                @Html.ActionLink(" ", "UserDelete", "Users", new { id = user.User.Id }, new { @class = "glyphicon glyphicon-remove text-danger" }) |  
                @Html.ActionLink(" ", "BlockUser", "Users", new { id = user.User.Id }, new { @class = "glyphicon glyphicon-remove-sign text-warning" }) |  
                @Html.ActionLink(" ", "UnblockUser", "Users", new { id = user.User.Id }, new { @class = "glyphicon glyphicon-ok-sign text-success" })  

            </td>
        </tr>
    }

    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function() {
            $("#users").DataTable();
        });
    </script>
}
