﻿@model Transportation_Company.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer form</h2>
<hr/>
<h5>Attention! All fields are masked.</h5>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="row">
        <div class="col-md-6">
            <h3>Basic Information</h3>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.CompanyName)
                @Html.TextBoxFor(m => m.Customer.CompanyName, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.CompanyName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Name)
                @Html.TextBoxFor(m => m.Customer.Name, new {Title = "Enter representative's full name.", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.IdentificationNumber)
                @Html.TextBoxFor(m => m.Customer.IdentificationNumber, new {Title = "NIP/EIN must match pattern: 00-0000000", @class = "form-control identificationNumber" })
                @Html.ValidationMessageFor(m => m.Customer.IdentificationNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.BirthDate)
                @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MM yyyy}", new {@class = "form-control birthdate date-picker"})
                @Html.ValidationMessageFor(m => m.Customer.BirthDate)
            </div>
        </div>
        <div class="col-md-6">
            <h3>Contact information</h3>
            <hr />
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Email)
                @Html.TextBoxFor(m => m.Customer.Email, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.PhoneNumber)
                @Html.TextBoxFor(m => m.Customer.PhoneNumber, new {@class = "form-control phoneNumber"})
                @Html.ValidationMessageFor(m => m.Customer.PhoneNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.PhoneNumberExtension)
                @Html.TextBoxFor(m => m.Customer.PhoneNumberExtension, new {Title = "Enter extension number only.", @class = "form-control phoneExtension"})
                @Html.ValidationMessageFor(m => m.Customer.PhoneNumberExtension)
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Address information</h3>
            <hr/>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Address)
                @Html.TextBoxFor(m => m.Customer.Address, new {Title = "Provide full address, like: 123 N Dundee St.", @class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.Address)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.City)
                @Html.TextBoxFor(m => m.Customer.City, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.City)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Country)
                @Html.TextBoxFor(m => m.Customer.Country, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.Country)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.ZipCode)
                @Html.TextBoxFor(m => m.Customer.ZipCode, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.ZipCode)
            </div>
        </div>
        <div class="col-md-6">
            <h3>Additional</h3>
            <hr/>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.Comment)
                @Html.TextAreaFor(m => m.Customer.Comment, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.Customer.Comment)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Customer.MembershipTypeId)
                @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"),"Select Membership", new {@class = "form-control", id ="memberShip"})
                @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">Save</button>

}


@section scripts
{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $('.date-picker').datepicker({ format: "mm/dd/yyyy", autoclose: true });



            $('.phoneNumber').mask('(000)-000-0000', {placeholder:"(773)-777-1234"});
            $('.phoneExtension').mask('x0000', { placeholder: "x3256" });
            $('.birthdate').mask('00/00/0000', { placeholder: "02/22/1983" });
            $('.identificationNumber').mask('00-0000000', { placeholder: "00-0000000" });

            $("#memberShip").chosen({ disable_search_treshold: 3 });
        

            $('[title]').tooltip({
                placement: "right",
                trigger: "focus"
            });
        });
    </script>
}

