﻿@model Transportation_Company.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CompanyName | NIP/EIN: @Model.IdentificationNumber</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <h3>Basic information</h3>
        <hr />
        <p><strong>Company name:</strong> @Model.CompanyName</p>
        <p><strong>Representative:</strong> @Model.Name</p>
        <p><strong>NIP/EIN:</strong> @Model.IdentificationNumber</p>
        @if (Model.BirthDate.HasValue)
        {
            <p><strong>Establishment year:</strong> @Model.BirthDate.Value.ToShortDateString()</p>
        }
        else
        {
            <p><strong>Establishment year:</strong> Not specified</p>
        }
    </div>
    <div class="col-md-6">
        <h3>Contact</h3>
        <hr />
        <p><strong>E-mail:</strong> @Model.Email</p>
        <p><strong>Phone number:</strong> @Model.PhoneNumber</p>
        <p><strong>Phone Extension:</strong> @Model.PhoneNumberExtension</p>
        @if(@Model.IsSubscribedToNewsletter.Equals(true))
        {
        <p><strong>Subscription:</strong> Subscribed </p>
        }
        else
        {
        <p><strong>Subscription:</strong> Not subscribed</p>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h3>Address</h3>
        <hr />
        <p><strong>Street name:</strong> @Model.Address</p>
        <p><strong>City:</strong> @Model.City</p>
        <p><strong>Country:</strong> @Model.Country</p>
        <p><strong>Zip-Code:</strong> @Model.ZipCode</p>
    </div>
    <div class="col-md-6">
        <h3>Additional information</h3>
        <hr />
        <p><strong>Membership type:</strong> @Model.MembershipType.Name</p>
        
        @if (@Model.MembershipType.Name.Contains("One time"))
        {
            <p><strong>Discount rate:</strong> Does not apply</p>
        }
        else
        {
            <p><strong>Discount rate:</strong> @Model.MembershipType.DiscountRate%</p>
        }

        @if (@Model.MembershipType.Name.Contains("One time"))
        {
            <p><strong>Membership term:</strong> One time shipping</p>
        }
        else
        {
            <p><strong>Membership term for:</strong> @Model.MembershipType.DurationInMonths month(s)</p>                
        }
        <hr/>
        <p><strong>Comments</strong></p>
        <p>@Model.Comment</p>
    </div>
</div>
<button class="btn btn-warning">@Html.ActionLink("Edit", "Edit", "Customers", new {id = @Model.Id}, new {@class = "", style = "text-decoration:none; color:white;"})</button>
<button class="btn btn-primary" onclick="history.go(-1);">Back</button>