﻿@using System.Web.UI.WebControls
@model IEnumerable<Transportation_Company.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@*@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>

    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New customer", "New", "Customers")</p>
    </div>
}*@
@*else
{*@

    <div class="row" style="margin-bottom: 10px;">
        <p class="btn btn-success">@Html.ActionLink("New customer", "New", "Customers", null, new {style = "color:white; text-decoration:none;"})</p>
    </div>

    <table id="customers" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th></th>
            <th>NIP/EIN</th>
            <th>Representative</th>
            <th>Compay name</th>
            <th>E-mail</th>
            <th>Phone number</th>
            <th>Address</th>
            <th style="width: 50px;">Actions</th>
        </tr>
        </thead>
        <tbody>
    @*    @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.IdentificationNumber</td>
                <td>@customer.Name</td>
                <td>@customer.CompanyName</td>
                <td>@customer.Email</td>
                <td>@customer.PhoneNumber @customer.PhoneNumberExtension</td>
                <td>@customer.Address, @customer.City, @customer.ZipCode, @customer.Country</td>
                <td>@customer.IsSubscribedToNewsletter</td>
                <td>@customer.MembershipType.Name, discount: @customer.MembershipType.DiscountRate</td>
                <td>@customer.Comment</td>
                <td>
                    @Html.ActionLink(" ", "Details", "Customers", new {id = customer.Id}, new { @class = "glyphicon glyphicon-book text-info" })|
                    @Html.ActionLink(" ", "Edit", "Customers", new { id = customer.Id }, new { @class = "glyphicon glyphicon-edit text-primary" })|
                    <button data-customer-id="@customer.Id" class="btn-link js-delete"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                </td>
            </tr>
        }*@
        </tbody>
    </table>
@*}*@



@section scripts
{
    <script>

        function format(d) {
            return '<table class="table compact table-hover" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px; width:50%;">' +
                '<tr>' +
                '<td>Membership Type:</td>' +
                '<td>' +
                d.membershipType.name +
                '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Membership Rate:</td>' +
                '<td>' +
                d.membershipType.discountRate + '%' +
                '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Subscribed:</td>' +
                '<td>' +
                d.isSubscribedToNewsletter +
                '</td>' +
                '</tr>' +
                '<tr>' +
                '<td>Comment:</td>' +
                '<td>' +
                d.comment +
                '</td>' +
                '</tr>'+
                '</table>';
        }


        $(document).ready(function() {

            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        className: "details-control",
                        orderable: false,
                        data: null,
                        defaultContent: " "
                       
                    },
                    {
                        data: "identificationNumber"
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "companyName"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: function(customer) {
                            return customer.phoneNumber + " " + customer.phoneNumberExtension;
                        },
                        defaultContent: "phoneNumber"
                        
                    },
                    {
                        data: function(customer) {
                            return customer.address +
                                ", " +
                                customer.city +
                                ", " +
                                customer.country +
                                ", " +
                                customer.zipCode;
                        }
                           
                    },
                   {
                        data: "id",
                        render: function(data) {
                            return "<a href='/customers/details/" + data + "'><i class='glyphicon glyphicon-book text-primary' style=''></i></a>" + "   " + "<a href='/customers/edit/" + data + "'><i class='glyphicon glyphicon-pencil text-warning'></i></a>" + "<button class='btn-link js-delete' data-customer-id=" + data + "><i class='glyphicon glyphicon-remove text-danger'></i></button>";
                        }
                    }
                ]
            
        });

            $("#customers tbody").on('click',
                'td.details-control',
                function() {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        //This row is alraedy open so close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        //open this row
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                    }
                });

        $("#customers").on("click",
            ".js-delete",
            function() {
                var button = $(this);

                bootbox.confirm(
                    "Are you sure you want to delete this Customer? Remember: make sure the customer is not assigned to any order before deletion!",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function() {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
            });
    });
    </script>
}
