body {
  background-image: url("Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: CabinRegular;
  font-size: 14px;
  line-height: 1.42857143;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
    background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
}

table {
    background-color: #ffffff;
}
.card .status-icon {
  padding: 40px;
}

.header-text {
  margin-bottom: 80px;
}

.section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.active {
  opacity: 1;
  color: #2394FB;
  box-shadow: 0px 6px 60px rgba(35, 148, 251, 0.3);
}

.inactive {
  opacity: 0.7;
  color: #B4B5BF;
  box-shadow: 0px 6px 60px rgba(180, 181, 191, 0.14);
}

h1 {
  color: #121628;
  font-family: CabinRegular;
  font-size: 26px;
}


@font-face {
  font-family: CabinBold;
  src: url(Cabin/Cabin-Bold.ttf);
}

@font-face {
  font-family: CabinRegular;
  src: url(Cabin/Cabin-Regular.ttf);
}
